In [2]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [3]:
page = requests.get('https://kenpom.com/index.php?y=2019')
soup = BS(page.content, 'html.parser')

In [4]:
idk = soup.select('tr')

In [228]:
idk[2].select('td')[4].text

'+34.22'

In [222]:
idk[2].select('td[class="wl"]')[0].text

'35-3'

In [50]:

names = []
wins_losses = []
for thing in idk:
    try:
        names.append(thing.select('a[href^="team.php?team="]')[0].string)
        wins_losses.append(thing.select('td[class="wl"]')[0].text)
    except:
        continue

In [242]:
def get_kenpom_wins_losses (year):
    page = requests.get('https://kenpom.com/index.php?y='+f'{year}')
    soup = BS(page.content, 'html.parser')
    idk = soup.select('tr')


    names = []
    wins_losses = []
    kenpom_adjem = []
    for thing in idk:
        try:
            names.append(thing.select('a[href^="team.php?team="]')[0].string)
            wins_losses.append(thing.select('td[class="wl"]')[0].text)
            kenpom_adjem.append(float(thing.select('td')[4].text))          
        except:
            continue
            
    wins = []
    losses = []
    for thing in wins_losses:
        i=0
        for num in thing:
            if num !='-':
                i+=1
            elif num =='-':
                wins.append(float(thing[0:i]))
                losses.append(float(thing[i+1::]))
                break
    year_kenpom = []
    for thing in wins:
        year_kenpom.append(int(year))
            
    D = {'name_ken':names,'wins':wins,'losses':losses,'year_kenpom':year_kenpom,'kenpom_adjem':kenpom_adjem}
    kenpom_wins_losses = pd.DataFrame(data=D)
    return kenpom_wins_losses

In [212]:
years = []
first = 2003
for num in range(0,17):
    years.append(first)
    first+=1

In [213]:
years

[2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [243]:
ken_pom=get_kenpom_wins_losses (2002)

In [244]:
ken_pom

                name_ken  wins  losses  year_kenpom  kenpom_adjem
0                   Duke  31.0     4.0         2002         34.19
1             Cincinnati  31.0     4.0         2002         30.19
2               Maryland  32.0     4.0         2002         29.25
3                 Kansas  33.0     4.0         2002         28.99
4               Oklahoma  31.0     5.0         2002         26.04
..                   ...   ...     ...          ...           ...
322         Nicholls St.   1.0    25.0         2002        -26.22
323  Arkansas Pine Bluff   2.0    26.0         2002        -28.85
324     Mount St. Mary's   3.0    24.0         2002        -29.36
325         Morris Brown   4.0    23.0         2002        -29.95
326         Savannah St.   2.0    24.0         2002        -31.15

[327 rows x 5 columns]

In [245]:
for year in years:
    print(year)
    KP=get_kenpom_wins_losses (year)
    ken_pom=ken_pom.append(KP, ignore_index=True)

2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019

In [246]:
ken_pom

                    name_ken  wins  losses  year_kenpom  kenpom_adjem
0                       Duke  31.0     4.0         2002         34.19
1                 Cincinnati  31.0     4.0         2002         30.19
2                   Maryland  32.0     4.0         2002         29.25
3                     Kansas  33.0     4.0         2002         28.99
4                   Oklahoma  31.0     5.0         2002         26.04
...                      ...   ...     ...          ...           ...
6152              Alcorn St.  10.0    21.0         2019        -24.07
6153  Mississippi Valley St.   6.0    26.0         2019        -24.63
6154             Chicago St.   3.0    29.0         2019        -28.26
6155            Delaware St.   6.0    25.0         2019        -29.31
6156  Maryland Eastern Shore   7.0    25.0         2019        -29.42

[6157 rows x 5 columns]

In [69]:
losses

['3',
 '4',
 '7',
 '6',
 '7',
 '7',
 '7',
 '7',
 '10',
 '6',
 '10',
 '4',
 '9',
 '8',
 '12',
 '11',
 '10',
 '5',
 '7',
 '9',
 '11',
 '4',
 '14',
 '11',
 '16',
 '16',
 '5',
 '13',
 '7',
 '10',
 '12',
 '14',
 '10',
 '9',
 '14',
 '14',
 '12',
 '7',
 '14',
 '14',
 '12',
 '8',
 '18',
 '15',
 '8',
 '14',
 '17',
 '9',
 '6',
 '13',
 '5',
 '16',
 '5',
 '16',
 '15',
 '14',
 '11',
 '7',
 '8',
 '14',
 '8',
 '12',
 '13',
 '16',
 '16',
 '15',
 '10',
 '17',
 '10',
 '16',
 '9',
 '17',
 '6',
 '19',
 '18',
 '7',
 '8',
 '17',
 '16',
 '10',
 '13',
 '17',
 '20',
 '21',
 '10',
 '13',
 '7',
 '13',
 '11',
 '15',
 '18',
 '9',
 '8',
 '15',
 '21',
 '9',
 '19',
 '17',
 '14',
 '14',
 '19',
 '16',
 '12',
 '10',
 '12',
 '13',
 '17',
 '16',
 '14',
 '9',
 '14',
 '16',
 '9',
 '12',
 '18',
 '14',
 '14',
 '17',
 '14',
 '13',
 '16',
 '11',
 '9',
 '10',
 '13',
 '11',
 '17',
 '11',
 '12',
 '12',
 '14',
 '21',
 '17',
 '12',
 '10',
 '17',
 '9',
 '10',
 '20',
 '16',
 '13',
 '15',
 '11',
 '16',
 '12',
 '15',
 '15',
 '17',
 '15',
 '16',
 '18',
 '7',
 '12',
 '17',
 '23',
 '15',
 '14',
 '12',
 '17',
 '16',
 '15',
 '16',
 '12',
 '11',
 '14',
 '9',
 '17',
 '12',
 '11',
 '17',
 '16',
 '10',
 '13',
 '20',
 '12',
 '12',
 '18',
 '13',
 '16',
 '20',
 '13',
 '17',
 '13',
 '17',
 '17',
 '15',
 '17',
 '18',
 '19',
 '15',
 '17',
 '15',
 '11',
 '15',
 '14',
 '16',
 '15',
 '16',
 '20',
 '15',
 '13',
 '16',
 '20',
 '14',
 '16',
 '21',
 '21',
 '16',
 '13',
 '18',
 '14',
 '15',
 '18',
 '17',
 '18',
 '18',
 '13',
 '19',
 '17',
 '18',
 '16',
 '21',
 '15',
 '15',
 '19',
 '16',
 '21',
 '21',
 '17',
 '13',
 '18',
 '16',
 '20',
 '15',
 '18',
 '21',
 '18',
 '21',
 '17',
 '17',
 '23',
 '19',
 '18',
 '14',
 '20',
 '21',
 '20',
 '19',
 '18',
 '17',
 '19',
 '20',
 '21',
 '19',
 '24',
 '18',
 '18',
 '17',
 '20',
 '20',
 '15',
 '14',
 '16',
 '21',
 '16',
 '20',
 '16',
 '17',
 '17',
 '21',
 '18',
 '23',
 '17',
 '16',
 '16',
 '19',
 '25',
 '21',
 '20',
 '19',
 '18',
 '17',
 '27',
 '22',
 '19',
 '16',
 '18',
 '21',
 '19',
 '21',
 '22',
 '21',
 '24',
 '21',
 '21',
 '22',
 '21',
 '20',
 '21',
 '13',
 '22',
 '19',
 '16',
 '21',
 '17',
 '17',
 '18',
 '21',
 '21',
 '17',
 '16',
 '22',
 '19',
 '17',
 '19',
 '22',
 '24',
 '19',
 '19',
 '23',
 '20',
 '23',
 '21',
 '22',
 '24',
 '25',
 '20',
 '19',
 '19',
 '21',
 '22',
 '23',
 '21',
 '23',
 '25',
 '26',
 '26',
 '27',
 '26',
 '20',
 '20',
 '25',
 '27',
 '27',
 '24',
 '25',
 '27',
 '27',
 '21',
 '26',
 '29',
 '25',
 '25']

In [22]:
len(names)

353

# Merging kenpom and everything else - make sure to do everything below this first

In [24]:
df = pd.read_csv('1993_2019_everything2.csv', sep=',')

In [26]:
pd.set_option('display.max_columns', 400)
df

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,winner,point_difference,result,name_x,team_seed,win,higher_or_lower_seed,index,year_x,Name,BLKPG,STPG,APG,AST_TO,_3pm,_3pa,_2pm,_2pa,_2p_perc,PTS,FG_perc,_3p_perc,FT_perc,year_y,ORPG,DRPG,RPG,other_team_seed,names_for_merging_sr,index_everything,name_y,SRS_adv,SOS_adv,eFG_perc_adv,year_adv,SRS_adv_opponent,SOS_adv_opponent,eFG_perc_adv_opponent,SRS_adv_subtracted,SOS_adv_subtracted,eFG_perc_adv_subtracted,BLKPG_opponent,STPG_opponent,APG_opponent,AST_TO_opponent,_3pm_opponent,_3pa_opponent,_2pm_opponent,_2pa_opponent,_2p_perc_opponent,FG_perc_opponent,_3p_perc_opponent,FT_perc_opponent,ORPG_opponent,DRPG_opponent,RPG_opponent,other_team_seed_opponent,BLKPG_subtracted,STPG_subtracted,APG_subtracted,AST_TO_subtracted,_3pm_subtracted,_3pa_subtracted,_2pm_subtracted,_2pa_subtracted,_2p_perc_subtracted,PTS_opponent,PTS_subtracted,FG_perc_subtracted,_3p_perc_subtracted,FT_perc_subtracted,ORPG_subtracted,DRPG_subtracted,RPG_subtracted,round
0,0,0,0,1008,1,15,1,UNC,1,1,1,0,1993,North Carolina,3.70,5.93,14.4,1.08,5.3,18.0,552.0,1190.0,0.464,70.6,0.413,0.291,0.663,1993,13.9,28.7,42.6,16,North Carolina,0,North Carolina,29.04,11.25,0.541,1993,-2.02,0.95,0.465,31.06,10.30,0.076,3.25,6.75,14.0,1.02,5.4,19.0,512.0,1055.0,0.485,0.417,0.284,0.725,9.8,26.1,35.9,1,0.45,-0.82,0.4,0.06,-0.1,-1.0,40.0,135.0,-0.021,68.5,2.1,-0.004,0.007,-0.062,4.1,2.6,6.7,1
1,1,1,1,1009,1,15,1,East Carolina,16,0,0,1,1993,East Carolina,3.25,6.75,14.0,1.02,5.4,19.0,512.0,1055.0,0.485,68.5,0.417,0.284,0.725,1993,9.8,26.1,35.9,1,East Carolina,1,East Carolina,-2.02,0.95,0.465,1993,29.04,11.25,0.541,-31.06,-10.30,-0.076,3.70,5.93,14.4,1.08,5.3,18.0,552.0,1190.0,0.464,0.413,0.291,0.663,13.9,28.7,42.6,16,-0.45,0.82,-0.4,-0.06,0.1,1.0,-40.0,-135.0,0.021,70.6,-2.1,0.004,-0.007,0.062,-4.1,-2.6,-6.7,1
2,2,2,2,1010,8,1,1,Rhode Island,8,1,1,2,1993,Rhode Island,4.00,8.73,12.7,1.05,5.7,18.0,544.0,1159.0,0.469,74.7,0.428,0.323,0.692,1993,12.1,27.3,39.4,9,Rhode Island,2,Rhode Island,9.50,6.40,0.484,1993,12.96,9.63,0.519,-3.46,-3.23,-0.035,3.43,6.46,13.5,1.18,7.4,22.0,506.0,1077.0,0.470,0.424,0.342,0.670,12.5,23.9,36.4,8,0.57,2.27,-0.8,-0.13,-1.7,-4.0,38.0,82.0,-0.001,68.3,6.4,0.004,-0.019,0.022,-0.4,3.4,3.0,1
3,3,3,3,1011,8,1,1,Purdue,9,0,0,3,1993,Purdue,3.43,6.46,13.5,1.18,7.4,22.0,506.0,1077.0,0.470,68.3,0.424,0.342,0.670,1993,12.5,23.9,36.4,8,Purdue,3,Purdue,12.96,9.63,0.519,1993,9.50,6.40,0.484,3.46,3.23,0.035,4.00,8.73,12.7,1.05,5.7,18.0,544.0,1159.0,0.469,0.428,0.323,0.692,12.1,27.3,39.4,9,-0.57,-2.27,0.8,0.13,1.7,4.0,-38.0,-82.0,0.001,74.7,-6.4,-0.004,0.019,-0.022,0.4,-3.4,-3.0,1
4,4,4,4,1012,5,7,1,St. John's (NY),5,1,1,4,1993,St. John's,4.22,10.15,14.6,1.24,6.4,21.0,559.0,1235.0,0.453,74.7,0.407,0.307,0.711,1993,13.0,26.5,39.4,12,St. John's (NY),4,St. John's (NY),13.16,9.49,0.504,1993,2.91,1.56,0.530,10.25,7.93,-0.026,4.11,8.00,15.8,1.15,7.3,20.0,492.0,950.0,0.518,0.461,0.361,0.754,9.0,24.7,33.7,5,0.11,2.15,-1.2,0.09,-0.9,1.0,67.0,285.0,-0.065,73.7,1.0,-0.054,-0.054,-0.043,4.0,1.8,5.7,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3397,3397,3397,3350,4405,1,4,1,Auburn,5,0,0,121,2019,Auburn,4.79,9.29,14.4,1.18,11.2,30.0,549.0,1059.0,0.518,79.4,0.449,0.376,0.710,2019,12.0,22.4,34.5,1,Auburn,3397,Auburn,20.84,10.92,0.543,2019,25.46,10.15,0.552,-4.62,0.77,-0.009,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,0.478,0.409,0.746,8.9,25.8,34.6,5,0.98,3.66,-0.1,-0.43,2.7,9.0,0.0,7.0,-0.004,71.8,7.6,-0.029,-0.033,-0.036,3.1,-3.4,-0.1,5
3398,3398,3398,3329,4406,3,1,2,Texas Tech,3,1,0,122,2019,Texas Tech,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,73.1,0.472,0.368,0.728,2019,8.8,25.4,34.3,2,Texas Tech,3398,Texas Tech,22.79,9.53,0.535,2019,24.93,12.34,0.552,-2.14,-2.81,-0.017,5.45,5.33,19.1,1.47,8.3,22.0,649.0,1177.0,0.551,0.488,0.383,0.750,10.8,30.2,41.0,3,-0.54,2.05,-5.1,-0.34,-1.0,-2.0,-44.0,-33.0,-0.022,79.2,-6.1,-0.016,-0.015,-0.022,-2.0,-4.8,-6.7,5
3399,3399,3399,3305,4407,3,1,2,Michigan State,2,0,1,123,2019,Michigan State,5.45,5.33,19.1,1.47,8.3,22.0,649.0,1177.0,0.551,79.2,0.488,0.383,0.750,2019,10.8,30.2,41.0,3,Michigan State,3399,Michigan State,24.93,12.34,0.552,2019,22.79,9.53,0.535,2.14,2.81,0.017,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,0.472,0.368,0.728,8.8,25.4,34.3,2,0.54,-2.05,5.1,0.34,1.0,2.0,44.0,33.0,0.022,73.1,6.1,0.016,0.015,0.022,2.0,4.8,6.7,5
3400,3400,3400,3375,4408,1,2,1,Virginia,1,1,1,124,2019,Virginia,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,71.8,0.478,0.409,0.746,2019,8.9,25.8,34.6,3,Virginia,3400,Virginia,25.46,10.15,0.552,2019,22.79,9.53,0.535,2.67,0.62,0.017,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,0.472,0.368,0.728,8.8,25.4,34.3,1,-1.10,-1.75,0.5,0.48,1.2,1.0,-56.0,-92.0,-0.007,73.1,-1.3,0.006,0.041,0.018,0.1,0.4,0.3,6
3401,3401,3401,3330,4409,1,2,1,Texas Tech,3,0,0,125,2019,Texas Tech,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,73.1,0.472,0.368,0.728,2019,8.8,25.4,34.3,1,Texas Tech,3401,Texas Tech,22.79,9.53,0.535,2019,25.46,10.15,0.552,-2.67,-0.62,-0.017,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,0.478,0.409,0.746,8.9,25.8,34.6,3,1.10,1.75,-0.5,-0.48,-1.2,-1.0,56.0,92.0,0.007,71.8,1.3,-0.006,-0.041,-0.018,-0.1,-0.4,-0.3,6

In [255]:
#making the larger dataframe with amrch madness and espn results just from 2002-2019
df1=df[(2002 <= df['year_x']) & (df['year_x'] < 2020)]

In [262]:
ken_pom

,name_ken,wins,losses,year_kenpom,kenpom_adjem,names_for_merging_ken
0,Duke,31.0,4.0,2002,34.19,Duke
1,Cincinnati,31.0,4.0,2002,30.19,Cincinnati
2,Maryland,32.0,4.0,2002,29.25,Maryland
3,Kansas,33.0,4.0,2002,28.99,Kansas
4,Oklahoma,31.0,5.0,2002,26.04,Oklahoma
...,...,...,...,...,...,...
6152,Alcorn St.,10.0,21.0,2019,-24.07,Alcorn State
6153,Mississippi Valley St.,6.0,26.0,2019,-24.63,Mississippi Valley State
6154,Chicago St.,3.0,29.0,2019,-28.26,Chicago St.
6155,Delaware St.,6.0,25.0,2019,-29.31,Delaware State
6156,Maryland Eastern Shore,7.0,25.0,2019,-29.42,Maryland Eastern Shore

In [266]:
df1

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,winner,point_difference,result,name_x,team_seed,win,higher_or_lower_seed,index,year_x,Name,BLKPG,STPG,APG,AST_TO,_3pm,_3pa,_2pm,_2pa,_2p_perc,PTS,FG_perc,_3p_perc,FT_perc,year_y,ORPG,DRPG,RPG,other_team_seed,names_for_merging_sr,index_everything,name_y,SRS_adv,SOS_adv,eFG_perc_adv,year_adv,SRS_adv_opponent,SOS_adv_opponent,eFG_perc_adv_opponent,SRS_adv_subtracted,SOS_adv_subtracted,eFG_perc_adv_subtracted,BLKPG_opponent,STPG_opponent,APG_opponent,AST_TO_opponent,_3pm_opponent,_3pa_opponent,_2pm_opponent,_2pa_opponent,_2p_perc_opponent,FG_perc_opponent,_3p_perc_opponent,FT_perc_opponent,ORPG_opponent,DRPG_opponent,RPG_opponent,other_team_seed_opponent,BLKPG_subtracted,STPG_subtracted,APG_subtracted,AST_TO_subtracted,_3pm_subtracted,_3pa_subtracted,_2pm_subtracted,_2pa_subtracted,_2p_perc_subtracted,PTS_opponent,PTS_subtracted,FG_perc_subtracted,_3p_perc_subtracted,FT_perc_subtracted,ORPG_subtracted,DRPG_subtracted,RPG_subtracted,round
1134,1134,1134,1134,2142,1,15,1,Maryland,1,1,1,0,2002,Maryland,6.27,8.40,20.4,1.48,6.0,16.0,733.0,1404.0,0.522,85.3,0.483,0.370,0.710,2002,13.5,28.1,41.6,16,Maryland,1134,Maryland,23.50,9.38,0.530,2002,-2.74,-3.71,0.478,26.24,13.09,0.052,4.21,5.44,12.7,0.83,7.0,20.0,559.0,1234.0,0.453,0.415,0.347,0.742,11.2,26.6,37.9,1,2.06,2.96,7.7,0.65,-1.0,-4.0,174.0,170.0,0.069,69.6,15.7,0.068,0.023,-0.032,2.3,1.5,3.7,1
1135,1135,1135,1135,2143,1,15,1,Siena,16,0,0,1,2002,Siena,4.21,5.44,12.7,0.83,7.0,20.0,559.0,1234.0,0.453,69.6,0.415,0.347,0.742,2002,11.2,26.6,37.9,1,Siena,1135,Siena,-2.74,-3.71,0.478,2002,23.50,9.38,0.530,-26.24,-13.09,-0.052,6.27,8.40,20.4,1.48,6.0,16.0,733.0,1404.0,0.522,0.483,0.370,0.710,13.5,28.1,41.6,16,-2.06,-2.96,-7.7,-0.65,1.0,4.0,-174.0,-170.0,-0.069,85.3,-15.7,-0.068,-0.023,0.032,-2.3,-1.5,-3.7,1
1136,1136,1136,1136,2144,8,1,1,Wisconsin,8,1,1,2,2002,Wisconsin,1.87,5.80,12.7,0.98,6.6,19.0,492.0,1013.0,0.486,66.9,0.438,0.352,0.719,2002,10.3,22.1,32.4,9,Wisconsin,1136,Wisconsin,10.09,9.22,0.499,2002,7.80,6.30,0.437,2.29,2.92,0.062,3.84,10.29,11.5,0.76,4.3,15.0,628.0,1437.0,0.437,0.401,0.287,0.667,15.7,22.1,37.8,8,-1.97,-4.49,1.2,0.22,2.3,4.0,-136.0,-424.0,0.049,70.3,-3.4,0.037,0.065,0.052,-5.4,0.0,-5.4,1
1137,1137,1137,1137,2145,8,1,1,St. John's (NY),9,0,0,3,2002,St. John's,3.84,10.29,11.5,0.76,4.3,15.0,628.0,1437.0,0.437,70.3,0.401,0.287,0.667,2002,15.7,22.1,37.8,8,St. John's (NY),1137,St. John's (NY),7.80,6.30,0.437,2002,10.09,9.22,0.499,-2.29,-2.92,-0.062,1.87,5.80,12.7,0.98,6.6,19.0,492.0,1013.0,0.486,0.438,0.352,0.719,10.3,22.1,32.4,9,1.97,4.49,-1.2,-0.22,-2.3,-4.0,136.0,424.0,-0.049,66.9,3.4,-0.037,-0.065,-0.052,5.4,0.0,5.4,1
1138,1138,1138,1138,2146,12,7,2,Marquette,5,0,1,4,2002,Marquette,3.41,8.44,14.1,1.01,5.2,14.0,677.0,1344.0,0.504,73.3,0.474,0.381,0.692,2002,12.7,23.0,35.7,12,Marquette,1138,Marquette,17.16,4.77,0.520,2002,12.66,2.30,0.541,4.50,2.47,-0.021,4.41,8.13,17.3,1.35,7.6,19.0,661.0,1298.0,0.509,0.477,0.406,0.751,10.7,25.0,35.7,5,-1.00,0.31,-3.2,-0.34,-2.4,-5.0,16.0,46.0,-0.005,80.4,-7.1,-0.003,-0.025,-0.059,2.0,-2.0,0.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3397,3397,3397,3350,4405,1,4,1,Auburn,5,0,0,121,2019,Auburn,4.79,9.29,14.4,1.18,11.2,30.0,549.0,1059.0,0.518,79.4,0.449,0.376,0.710,2019,12.0,22.4,34.5,1,Auburn,3397,Auburn,20.84,10.92,0.543,2019,25.46,10.15,0.552,-4.62,0.77,-0.009,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,0.478,0.409,0.746,8.9,25.8,34.6,5,0.98,3.66,-0.1,-0.43,2.7,9.0,0.0,7.0,-0.004,71.8,7.6,-0.029,-0.033,-0.036,3.1,-3.4,-0.1,5
3398,3398,3398,3329,4406,3,1,2,Texas Tech,3,1,0,122,2019,Texas Tech,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,73.1,0.472,0.368,0.728,2019,8.8,25.4,34.3,2,Texas Tech,3398,Texas Tech,22.79,9.53,0.535,2019,24.93,12.34,0.552,-2.14,-2.81,-0.017,5.45,5.33,19.1,1.47,8.3,22.0,649.0,1177.0,0.551,0.488,0.383,0.750,10.8,30.2,41.0,3,-0.54,2.05,-5.1,-0.34,-1.0,-2.0,-44.0,-33.0,-0.022,79.2,-6.1,-0.016,-0.015,-0.022,-2.0,-4.8,-6.7,5
3399,3399,3399,3305,4407,3,1,2,Michigan State,2,0,1,123,2019,Michigan State,5.45,5.33,19.1,1.47,8.3,22.0,649.0,1177.0,0.551,79.2,0.488,0.383,0.750,2019,10.8,30.2,41.0,3,Michigan State,3399,Michigan State,24.93,12.34,0.552,2019,22.79,9.53,0.535,2.14,2.81,0.017,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,0.472,0.368,0.728,8.8,25.4,34.3,2,0.54,-2.05,5.1,0.34,1.0,2.0,44.0,33.0,0.022,73.1,6.1,0.016,0.015,0.022,2.0,4.8,6.7,5
3400,3400,3400,3375,4408,1,2,1,Virginia,1,1,1,124,2019,Virginia,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,71.8,0.478,0.409,0.746,2019,8.9,25.8,34.6,3,Virginia,3400,Virginia,25.46,10.15,0.552,2019,22.79,9.53,0.535,2.67,0.62,0.017,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,0.472,0.368,0.728,8.8,25.4,34.3,1,-1.10,-1.75,0.5,0.48,1.2,1.0,-56.0,-92.0,-0.007,73.1,-1.3,0.006,0.041,0.018,0.1,0.4,0.3,6
3401,3401,3401,3330,4409,1,2,1,Texas Tech,3,0,0,125,2019,Texas Tech,4.91,7.38,14.0,1.13,7.3,20.0,605.0,1144.0,0.529,73.1,0.472,0.368,0.728,2019,8.8,25.4,34.3,1,Texas Tech,3401,Texas Tech,22.79,9.53,0.535,2019,25.46,10.15,0.552,-2.67,-0.62,-0.017,3.81,5.63,14.5,1.61,8.5,21.0,549.0,1052.0,0.522,0.478,0.409,0.746,8.9,25.8,34.6,3,1.10,1.75,-0.5,-0.48,-1.2,-1.0,56.0,92.0,0.007,71.8,1.3,-0.006,-0.041,-0.018,-0.1,-0.4,-0.3,6

In [264]:
df2=df1

In [265]:
ken_pom2=ken_pom

# Get opponent data and subtracted stuff maybe

In [294]:
merged_df2 = merged_df

In [357]:
def get_opponent_data (df, column_name):
    first_data = []
    second_data = []
    i=0
    x = 0
    for thing in df[f'{column_name}']:
        if i ==0:
            first_data.append(df[f'{column_name}'].iloc[x+1])
            i+=1
            x+=1
        elif i==1:
            second_data.append(df[f'{column_name}'].iloc[x-1])
            i=0
            x+=1
    
    i=0
    x=0
    opponent_data = []
    for thing in first_data+second_data:
        if i==0:
            opponent_data.append(first_data[x])
            i+=1
        elif i==1:
            opponent_data.append(second_data[x])
            x+=1
            i=0

    print(f'this is length opponent data: {len(opponent_data)}')
    print('made it here')        
    df[f'{column_name}'+'_opponent']=opponent_data

In [358]:
opponent_columns = ['wins', 'losses', 'kenpom_adjem']

In [359]:
for column in opponent_columns:
    get_opponent_data (merged_df, f'{column}')

this is length opponent data: 2268
made it here
this is length opponent data: 2268
made it here
this is length opponent data: 2268
made it here

In [362]:
def subtracted_stats  (df,column):
    i = 0
    subtracted = []
    for thing in list(df[f'{column}']):
        difference=list(df[f'{column}'])[i]-list(df[f'{column}'+'_opponent'])[i]
        subtracted.append(difference)
        i+=1
    
    df[f'{column}'+'_subtracted']=subtracted

In [363]:
columns = ['wins', 'losses', 'kenpom_adjem']

In [364]:
for thing in columns:
    subtracted_stats(merged_df,thing)

In [366]:
merged_df.to_csv('2002_2019_EVERYTHING.csv')

# Merging Ken_pom with already existing data

In [351]:
def merge_sr (df1,adv_stats,year):
    merged_df=pd.merge(df1[(df1['year_x']==year)], ken_pom[(ken_pom['year_kenpom']==year)],
                 how = 'inner', left_on='Name', right_on = 'names_for_merging_ken')
    return merged_df

In [352]:
years = []
first = 2002
for num in range(0,18):
    years.append(first)
    first+=1

In [263]:
years

[2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019]

In [353]:
i=0
for year in years:
    if i==0:
        merged_df=merge_sr (df1,ken_pom,year)
        merged_df = merged_df.sort_values(by ='index_everything' )
        i=1
    else:
        merged=merge_sr (df1,ken_pom,year)
        merged_df=merged_df.append(merged, ignore_index=True)
        merged_df = merged_df.sort_values(by ='index_everything' )

In [355]:
len(merged_df)

2268

In [356]:
len(df1)

2268

In [271]:
merged_df.to_csv('2002_2019_with_kenpom.csv')

In [320]:
#need to run this
def find_missing_values (blah):
    the_values = []
    for thing in list(range(1134,3402)):
        if thing in blah:
            continue
        else:
            #print(thing)
            the_values.append(thing)
    return the_values

In [321]:
the_values=find_missing_values (list(merged_df['index_everything']))

In [324]:
the_values

[1271, 1487, 1549, 2283, 2455, 2747, 2993, 3006, 3187]

In [337]:
df1[(df1['index_everything']==3187)]

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,winner,point_difference,result,name_x,team_seed,win,higher_or_lower_seed,index,year_x,Name,BLKPG,STPG,APG,AST_TO,_3pm,_3pa,_2pm,_2pa,_2p_perc,PTS,FG_perc,_3p_perc,FT_perc,year_y,ORPG,DRPG,RPG,other_team_seed,names_for_merging_sr,index_everything,name_y,SRS_adv,SOS_adv,eFG_perc_adv,year_adv,SRS_adv_opponent,SOS_adv_opponent,eFG_perc_adv_opponent,SRS_adv_subtracted,SOS_adv_subtracted,eFG_perc_adv_subtracted,BLKPG_opponent,STPG_opponent,APG_opponent,AST_TO_opponent,_3pm_opponent,_3pa_opponent,_2pm_opponent,_2pa_opponent,_2p_perc_opponent,FG_perc_opponent,_3p_perc_opponent,FT_perc_opponent,ORPG_opponent,DRPG_opponent,RPG_opponent,other_team_seed_opponent,BLKPG_subtracted,STPG_subtracted,APG_subtracted,AST_TO_subtracted,_3pm_subtracted,_3pa_subtracted,_2pm_subtracted,_2pa_subtracted,_2p_perc_subtracted,PTS_opponent,PTS_subtracted,FG_perc_subtracted,_3p_perc_subtracted,FT_perc_subtracted,ORPG_subtracted,DRPG_subtracted,RPG_subtracted,round
3187,3187,3187,3187,4195,4,9,1,College of Charleston,13,0,0,37,2018,Charleston,3.61,5.18,11.4,1.19,7.7,21.0,598.0,1155.0,0.518,75.1,0.46,0.364,0.759,2018,8.5,24.5,33.0,4,College of Charleston,3187,College of Charleston,1.83,-3.29,0.527,2018,15.97,7.29,0.508,-14.14,-10.58,0.019,5.41,7.44,14.4,1.18,9.8,27.0,556.0,1125.0,0.494,0.439,0.366,0.786,12.1,26.0,38.2,13,-1.8,-2.26,-3.0,0.01,-2.1,-6.0,42.0,30.0,0.024,83.4,-8.3,0.021,-0.002,-0.027,-3.6,-1.5,-5.2,1

In [309]:
len(df1)

2268

# using dictionary to make a new column inkenpom for merging with everything else

In [349]:
names_for_merging_ken = []
for name in list(ken_pom['name_ken']):
    if name in kenpom_dict2.keys():
        names_for_merging_ken.append(kenpom_dict2[f'{name}'])
    else:
        names_for_merging_ken.append(name)

In [350]:
ken_pom['names_for_merging_ken']=names_for_merging_ken

In [348]:
ken_pom

                    name_ken  wins  losses  year_kenpom  kenpom_adjem
0                       Duke  31.0     4.0         2002         34.19
1                 Cincinnati  31.0     4.0         2002         30.19
2                   Maryland  32.0     4.0         2002         29.25
3                     Kansas  33.0     4.0         2002         28.99
4                   Oklahoma  31.0     5.0         2002         26.04
...                      ...   ...     ...          ...           ...
6152              Alcorn St.  10.0    21.0         2019        -24.07
6153  Mississippi Valley St.   6.0    26.0         2019        -24.63
6154             Chicago St.   3.0    29.0         2019        -28.26
6155            Delaware St.   6.0    25.0         2019        -29.31
6156  Maryland Eastern Shore   7.0    25.0         2019        -29.42

[6157 rows x 5 columns]

In [347]:
ken_pom.drop('names_for_merging_ken', axis = 1, inplace = True)

# finding the names I need for the dictionary

In [34]:
need_dictionary_names = []
for name in names:
    if name in list(df['name_x']) or name in list(df['name_y']) or name in list(df['Name']) or name in list(df['names_for_merging_sr']):
        continue
    else:
        need_dictionary_names.append(name)

In [38]:
need_dictionary_names = []
i=0
if list(df['name_x'])[i] or list(df['name_y'])[i] or list(df['Name'])[i] or list(df['names_for_merging_sr'])[i] in names:
    i+=1
else:
    i+=1
    need_dictionary_names.append(list(df['name_x'])[i])

In [128]:
need_dictionary_names = []
for thing in list(df['Name']):
    if thing in names:
        continue
    else:
        need_dictionary_names.append(thing)

In [310]:
set(need_dictionary_names)

{'Alabama State',
 'Alcorn State',
 'Appalachian State',
 'Arizona State',
 'Arkansas State',
 'Arkansas-Pine Bluff',
 'Ball State',
 'Boise State',
 'CSU Bakersfield',
 'CSU Fullerton',
 'CSU Northridge',
 'Cleveland State',
 'Colorado State',
 'Coppin State',
 'Delaware State',
 'Detroit Mercy',
 'East Tennessee State',
 'Florida International',
 'Florida State',
 'Fresno State',
 'Gardner-Webb',
 'Georgia State',
 "Hawai'i",
 'Illinois State',
 'Indiana State',
 'Iowa State',
 'Jackson State',
 'Jacksonville State',
 'Kansas State',
 'Kent State',
 'Long Beach State',
 'Long Island University',
 'Loyola (MD)',
 'McNeese',
 'Miami',
 'Miami (OH)',
 'Michigan State',
 'Mississippi State',
 'Mississippi Valley State',
 'Missouri State',
 'Montana State',
 'Morehead State',
 'Morgan State',
 "Mt. St. Mary's",
 'Murray State',
 'NC State',
 'New Mexico State',
 'Nicholls',
 'Norfolk State',
 'North Dakota State',
 'Northwestern State',
 'Ohio State',
 'Oklahoma State',
 'Ole Miss',
 'Oregon State',
 'Penn State',
 'Pennsylvania',
 'Portland State',
 'SE Louisiana',
 'SE Missouri St',
 'Sam Houston State',
 'San Diego State',
 'San José St',
 'South Carolina State',
 'South Dakota State',
 'Tennessee State',
 'Texas A&M-CC',
 'Texas State',
 'UConn',
 'UIC',
 'UL Monroe',
 'UMass',
 'Utah State',
 'Washington State',
 'Weber State',
 'Wichita State',
 'Wright State'}

# Making Dictionary for Kenpom

In [178]:
#Name in the brackets and the kenpom name on the right side of the equal side
kenpom_dict = {}

In [179]:
kenpom_dict["Alabama State"]="Alabama St."

In [180]:
kenpom_dict["Alcorn State"]="Alcorn St."

In [181]:
kenpom_dict["Arkansas-Pine Bluff"]="Arkansas Pine Bluff"

In [182]:
kenpom_dict["CSU Bakersfield"]="Cal St. Bakersfield"

In [183]:
kenpom_dict["CSU Fullerton"]="Cal St. Fullerton"

In [184]:
kenpom_dict["CSU Northridge"]="Cal St. Northridge"

In [185]:
kenpom_dict["Detroit Mercy"]="Detroit"

In [186]:
kenpom_dict["Florida International"]="FIU"

In [187]:
kenpom_dict["Gardner-Webb"]="Gardner Webb"

In [188]:
kenpom_dict["Hawai'i"]="Hawaii"

In [189]:
kenpom_dict["Long Island University"]="LIU"

In [190]:
kenpom_dict["Loyola (MD)"]="Loyola MD"

In [191]:
kenpom_dict["McNeese"]="McNeese St."

In [192]:
kenpom_dict["Miami"]="Miami FL"

In [193]:
kenpom_dict["Miami (OH)"]="Miami OH"

In [194]:
kenpom_dict["Mt. St. Mary's"]="Mount St. Mary's"

In [195]:
kenpom_dict["NC State"]="N.C. State"

In [196]:
kenpom_dict["Nicholls"]="Nicholls St."

In [197]:
kenpom_dict["Ole Miss"]="Mississippi"

In [198]:
kenpom_dict["Pennsylvania"]="Penn"

In [199]:
kenpom_dict["SE Louisiana"]="Southeastern Louisiana"

In [200]:
kenpom_dict["SE Missouri St"]="Southeast Missouri St."

In [201]:
kenpom_dict["San José St"]="San Jose St."

In [202]:
kenpom_dict["Texas A&M-CC"]="Texas A&M Corpus Chris"

In [203]:
kenpom_dict["UConn"]="Connecticut"

In [204]:
kenpom_dict["UIC"]="Illinois Chicago"

In [205]:
kenpom_dict["UL Monroe"]="Louisiana Monroe"

In [206]:
kenpom_dict["UMass"]="Massachusetts"

In [207]:
for name in need_dictionary_names:
    if name in list(kenpom_dict.keys()):
        continue
    else:
        kenpom_dict[f'{name}']=name[0:len(name)-3]+'.'

In [209]:
kenpom_dict.keys()

dict_keys(['Alabama State', 'Alcorn State', 'Arkansas-Pine Bluff', 'CSU Bakersfield', 'CSU Fullerton', 'CSU Northridge', 'Detroit Mercy', 'Florida International', 'Gardner-Webb', "Hawai'i", 'Long Island University', 'Loyola (MD)', 'McNeese', 'Miami', 'Miami (OH)', "Mt. St. Mary's", 'NC State', 'Nicholls', 'Ole Miss', 'Pennsylvania', 'SE Louisiana', 'SE Missouri St', 'San José St', 'Texas A&M-CC', 'UConn', 'UIC', 'UL Monroe', 'UMass', 'New Mexico State', 'Coppin State', 'Wright State', 'Oklahoma State', 'Ball State', 'Kansas State', 'Florida State', 'Tennessee State', 'Iowa State', 'Long Beach State', 'Boise State', 'Washington State', 'Texas State', 'Michigan State', 'Arizona State', 'Weber State', 'Murray State', 'Mississippi State', 'Penn State', 'Mississippi Valley State', 'Montana State', 'South Carolina State', 'Illinois State', 'Jackson State', 'Utah State', 'Missouri State', 'Kent State', 'Arkansas State', 'Ohio State', 'Appalachian State', 'Fresno State', 'Indiana State', 'Northwestern State', 'Georgia State', 'San Diego State', 'Sam Houston State', 'East Tennessee State', 'Colorado State', 'Delaware State', 'Wichita State', 'Portland State', 'Morehead State', 'Cleveland State', 'North Dakota State', 'Morgan State', 'South Dakota State', 'Norfolk State', 'Oregon State', 'Jacksonville State'])

In [248]:
kenpom_dict2 = {y:x for x,y in kenpom_dict.items()}

In [338]:
kenpom_dict2.values()

dict_values(['Alabama State', 'Alcorn State', 'Arkansas-Pine Bluff', 'CSU Bakersfield', 'CSU Fullerton', 'CSU Northridge', 'Detroit Mercy', 'Florida International', 'Gardner-Webb', "Hawai'i", 'Long Island University', 'Loyola (MD)', 'McNeese', 'Miami', 'Miami (OH)', "Mt. St. Mary's", 'NC State', 'Nicholls', 'Ole Miss', 'Pennsylvania', 'SE Louisiana', 'SE Missouri St', 'San José St', 'Texas A&M-CC', 'UConn', 'UIC', 'UL Monroe', 'UMass', 'New Mexico State', 'Coppin State', 'Wright State', 'Oklahoma State', 'Ball State', 'Kansas State', 'Florida State', 'Tennessee State', 'Iowa State', 'Long Beach State', 'Boise State', 'Washington State', 'Texas State', 'Michigan State', 'Arizona State', 'Weber State', 'Murray State', 'Mississippi State', 'Penn State', 'Mississippi Valley State', 'Montana State', 'South Carolina State', 'Illinois State', 'Jackson State', 'Utah State', 'Missouri State', 'Kent State', 'Arkansas State', 'Ohio State', 'Appalachian State', 'Fresno State', 'Indiana State', 'Northwestern State', 'Georgia State', 'San Diego State', 'Sam Houston State', 'East Tennessee State', 'Colorado State', 'Delaware State', 'Wichita State', 'Portland State', 'Morehead State', 'Cleveland State', 'North Dakota State', 'Morgan State', 'South Dakota State', 'Norfolk State', 'Oregon State', 'Jacksonville State'])

In [339]:
kenpom_dict2["Troy St."]="Troy"

In [340]:
kenpom_dict2["Louisiana Lafayette"]="Louisiana"

In [341]:
kenpom_dict2["LIU Brooklyn"]="Long Island University"

In [342]:
kenpom_dict2["Arkansas Little Rock"]="Little Rock"

In [343]:
kenpom_dict2["College of Charleston"]="Charleston"