In [45]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import time
import matplotlib.pyplot as plt
import numpy as np

# getting info from sports reference

In [36]:
def get_winners (link):
    print (link)
    page = requests.get(link)
    #print('here')
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=0
    k=0
    winners=[]
    for thing in list(range(1,100)):
        if k == 22:
            break
        elif k == 0 or k== 1 or k==2 or k==3 or k==5 or k==6 or k==7 or k==8 or k==10 or k==11 or k==12 or k==13 or k==15 or k==16 or k==17 or k==18 or k==20 or k==21:
            try:
                winners.append(idk[k].select('div')[i].select('div[class="winner"]')[0].select('span')[0].string)
                i+=3
            except:
                i=0
                k+=1
                continue
        else:
            i=0
            k+=1
            continue
    winners_int=[]
    for thing in winners:
        winners_int.append(int(thing))
    return winners_int

In [37]:
#function for getting the teams
#gets the teams that played each other all together
def get_teams (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=1
    maybe = []
    for thing in list(range(1,100)):
        if i%3 !=0:
            try:
                maybe.append(idk[k].select('div')[i].select('span')[0].string)
                i+=1
            except:
                i+=1
                continue
        else:
            i+=1
            continue
    return maybe

In [38]:
#uses the function to split up the teams that played each other into 2 separate lists
def split_up_teams (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    first_team = All_teams[0::2]
    second_team = All_teams[1::2]
    first_team_int = []
    for thing in first_team:
        first_team_int.append(int(thing))
    second_team_int = []
    for thing in second_team:
        second_team_int.append(int(thing))
    first_team_pd = pd.DataFrame(first_team_int)
    second_team_pd = pd.DataFrame(second_team_int)
    point_difference = first_team_pd-second_team_pd
    point_difference_list=point_difference.values.tolist()
    point_diff_abs = []
    for thing in point_difference_list:
        point_diff_abs.append(abs(thing[0]))
    return first_team_int,second_team_int,point_diff_abs

In [39]:
def get_team_names (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    maybe = []
    for thing in list(range(0,100)):
        try:
            maybe.append(idk[k].select('a[href^=/cbb/schools]')[thing].string)
        except:
            continue
    return maybe

In [40]:
def get_teams_get (link):
    team_names = []
    for thing in list(range(0,23)):
        new=get_team_names (link,thing)
        team_names.extend(new)
    team_names.pop(-1)
    team_names.pop(30)
    team_names.pop(60)
    team_names.pop(90)
    team_names.pop(120)
    return team_names

In [41]:
def split_up_teams_2 (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    return All_teams

In [42]:
#add in the year
#make the 9999

In [43]:
def everything (link):
    first_team_int = []
    second_team_int = []
    point_diff_abs = []
    winners_int = []

    winners=get_winners (link)
    three_lists=split_up_teams (link)
    first_team_int.extend(three_lists[0])
    second_team_int.extend(three_lists[1])
    point_diff_abs.extend(three_lists[2])
    winners_int.extend(winners)
    #time.sleep(3)
    #print(len(first_team_int), len(second_team_int),len(point_diff_abs), len(winners_int))
    df = pd.DataFrame({"first_team": first_team_int, "second_team": second_team_int,
                       "winner" : winners_int, "point_difference": point_diff_abs})
    result = []
    i = 0
    for thing in list(df['winner']):
        #print(f'this is {i}')
        if list(df['first_team'])[i] > list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
            #print(f'this is if1')
            result.append(2)
        elif list(df['second_team'])[i] > list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif1')
            result.append(2)
        elif list(df['first_team'])[i] < list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif2')
            result.append(1)
        elif list(df['second_team'])[i] < list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif3')
            result.append(1)
        else:
            result.append(0)
        i+=1
    df['result']=result
    newdf2 = pd.DataFrame(np.repeat(df.values,2,axis=0))
    newdf2.columns = df.columns
    team_names=get_teams_get (link)
    All_teams=split_up_teams_2(link)
    rankings= []
    for thing in All_teams:
        #print(thing)
        rankings.append(int(thing))
    newdf2['team_name'] = team_names
    newdf2['team_rank'] = rankings
    win = []
    i = 0
    for thing in list(newdf2['team_rank']):
        if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
            win.append(9999)
        elif list(newdf2['team_rank'])[i] == list(newdf2['winner'])[i]:
            win.append(1)
        elif list(newdf2['team_rank'])[i] != list(newdf2['winner'])[i]:
            win.append(0)
        i+=1
    newdf2['win']=win
    #if the team has a lower seed number, it is given '1', higher seed number '0'
    higher_or_lower_seed = []
    i = 0
    for thing in list(newdf2['team_rank']):
        if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(9999)
        elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] < list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(1)
        elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] > list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(0)
        elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] < list(newdf2['first_team'])[i]:
            higher_or_lower_seed.append(1)
        elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] > list(newdf2['first_team'])[i]:
            higher_or_lower_seed.append(0)
        i+=1
    newdf2['higher_or_lower_seed']=higher_or_lower_seed
    #newdf2.to_csv(f'{link}')
    newdf2.rename(columns = {'team_name':'name'}, inplace = True)
    newdf2['index']=list(range(0,126))
    return newdf2

In [46]:
newdf2=everything ('https://www.sports-reference.com/cbb/postseason/1996-ncaa.html')

https://www.sports-reference.com/cbb/postseason/1996-ncaa.html

In [47]:
year = []
for thing in newdf2['first_team']:
    year.append(1996)

In [48]:
newdf2['year']=year

In [206]:
newdf2.to_csv('sports_reference_2019')

# getting infor from ESPN

In [49]:
def get_score_info (links):
    names = []
    PTS = []
    FG_perc = []
    _3p_perc = []
    FT_perc = []
    for link in links:
        print(link)
        page = requests.get(link)
        soup = BS(page.content, 'html.parser')
        idk=soup.select('tr[class^="oddrow"]')
        idk2=soup.select('tr[class^="evenrow"]')
        i = 0
        if len(idk)>len(idk2):
            for thing in idk:
                try:    
                    names.append(thing.select('td')[1].string)
                    PTS.append(float(thing.select('td')[3].string))
                    FG_perc.append(float(thing.select('td')[5].string))
                    _3p_perc.append(float(thing.select('td')[7].string))
                    FT_perc.append(float(thing.select('td')[9].string))
                    
                    names.append(idk2[i].select('td')[1].string)
                    PTS.append(float(idk2[i].select('td')[3].string))
                    FG_perc.append(float(idk2[i].select('td')[5].string))
                    _3p_perc.append(float(idk2[i].select('td')[7].string))
                    FT_perc.append(float(idk2[i].select('td')[9].string))
                    i+=1
                except:
                    continue
                    i+=1
        else:
            for thing in idk2:
                try:    
                    names.append(thing.select('td')[1].string)
                    PTS.append(float(thing.select('td')[3].string))
                    FG_perc.append(float(thing.select('td')[5].string))
                    _3p_perc.append(float(thing.select('td')[7].string))
                    FT_perc.append(float(thing.select('td')[9].string))
                    
                    names.append(idk[i].select('td')[1].string)
                    PTS.append(float(idk[i].select('td')[3].string))
                    FG_perc.append(float(idk[i].select('td')[5].string))
                    _3p_perc.append(float(idk[i].select('td')[7].string))
                    FT_perc.append(float(idk[i].select('td')[9].string))
                    i+=1
                except:
                    continue
                    i+=1
            
            


            
    return names, PTS, FG_perc, _3p_perc, FT_perc

In [50]:
list_years = []
i = 1996
for num in range(0,1):
    list_years.append(str(i))
    i+=1

In [51]:
links = []
for thing in list_years:
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing)
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/41')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/81')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/121')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/161')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/201')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/241')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/281')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/321')

In [52]:
names, PTS, FG_perc, _3p_perc, FT_perc = get_score_info (links)

http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/41
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/81
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/121
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/161
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/201
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/241
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/281
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/1996/count/321

In [53]:
D = {'Name':names, 'PTS':PTS, 'FG_perc':FG_perc, '_3p_perc':_3p_perc, 'FT_perc':FT_perc}

In [54]:
df2 = pd.DataFrame(data=D)

In [55]:
year = []
for thing in df2['Name']:
    year.append(1996)

In [56]:
df2['year']=year

In [255]:
df2.to_csv('ESPN_2019')

# Merging espn and sports reference

In [57]:
possibly2 = pd.merge(newdf2,df2, left_on = 'name', right_on = 'Name')

In [58]:
possibly2 = possibly2.sort_values(by ='index' )

In [770]:
possibly2 = possibly2.sort_values(by ='index' )
possibly2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year_x,Name,PTS,FG_perc,_3p_perc,FT_perc,year_y
0,1,16,1,15,1,Maryland,1,1,1,0,2002,Maryland,85.3,0.483,0.370,0.710,2002
6,1,16,1,15,1,Siena,16,0,0,1,2002,Siena,69.6,0.415,0.347,0.742,2002
7,8,9,8,1,1,Wisconsin,8,1,1,2,2002,Wisconsin,66.9,0.438,0.352,0.719,2002
9,5,12,12,7,2,Marquette,5,0,1,4,2002,Marquette,73.3,0.474,0.381,0.692,2002
10,5,12,12,7,2,Tulsa,12,1,0,5,2002,Tulsa,80.4,0.477,0.406,0.751,2002
12,4,13,4,9,1,Kentucky,4,1,1,6,2002,Kentucky,76.6,0.448,0.309,0.670,2002
15,4,13,4,9,1,Valparaiso,13,0,0,7,2002,Valparaiso,78.0,0.451,0.350,0.665,2002
16,6,11,11,5,2,Texas Tech,6,0,1,8,2002,Texas Tech,79.5,0.468,0.378,0.684,2002
17,6,11,11,5,2,Southern Illinois,11,1,0,9,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
20,3,14,3,11,1,Georgia,3,1,1,10,2002,Georgia,76.1,0.447,0.315,0.734,2002
22,3,14,3,11,1,Murray State,14,0,0,11,2002,Murray State,78.9,0.452,0.319,0.727,2002
23,7,10,7,3,1,NC State,7,1,1,12,2002,NC State,75.7,0.454,0.359,0.750,2002
25,7,10,7,3,1,Michigan State,10,0,0,13,2002,Michigan State,69.7,0.467,0.398,0.764,2002
26,2,15,2,13,1,UConn,2,1,1,14,2002,UConn,77.9,0.481,0.385,0.691,2002
30,2,15,2,13,1,Hampton,15,0,0,15,2002,Hampton,79.9,0.486,0.352,0.669,2002
1,1,8,1,7,1,Maryland,1,1,1,16,2002,Maryland,85.3,0.483,0.370,0.710,2002
8,1,8,1,7,1,Wisconsin,8,0,0,17,2002,Wisconsin,66.9,0.438,0.352,0.719,2002
11,12,4,4,8,1,Tulsa,12,0,0,18,2002,Tulsa,80.4,0.477,0.406,0.751,2002
13,12,4,4,8,1,Kentucky,4,1,1,19,2002,Kentucky,76.6,0.448,0.309,0.670,2002
18,11,3,11,8,2,Southern Illinois,11,1,0,20,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
21,11,3,11,8,2,Georgia,3,0,1,21,2002,Georgia,76.1,0.447,0.315,0.734,2002
24,7,2,2,5,1,NC State,7,0,0,22,2002,NC State,75.7,0.454,0.359,0.750,2002
27,7,2,2,5,1,UConn,2,1,1,23,2002,UConn,77.9,0.481,0.385,0.691,2002
2,1,4,1,3,1,Maryland,1,1,1,24,2002,Maryland,85.3,0.483,0.370,0.710,2002
14,1,4,1,3,1,Kentucky,4,0,0,25,2002,Kentucky,76.6,0.448,0.309,0.670,2002
19,11,2,2,9,1,Southern Illinois,11,0,0,26,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
28,11,2,2,9,1,UConn,2,1,1,27,2002,UConn,77.9,0.481,0.385,0.691,2002
3,1,2,1,1,1,Maryland,1,1,1,28,2002,Maryland,85.3,0.483,0.370,0.710,2002
29,1,2,1,1,1,UConn,2,0,0,29,2002,UConn,77.9,0.481,0.385,0.691,2002
31,1,16,1,15,1,Kansas,1,1,1,30,2002,Kansas,92.0,0.511,0.422,0.718,2002
36,1,16,1,15,1,Holy Cross,16,0,0,31,2002,Holy Cross,63.3,0.409,0.340,0.693,2002
37,8,9,8,1,1,Stanford,8,1,1,32,2002,Stanford,81.2,0.453,0.347,0.701,2002
39,8,9,8,1,1,Western Kentucky,9,0,0,33,2002,Western Kentucky,78.2,0.469,0.380,0.705,2002
40,5,12,12,7,2,Florida,5,0,1,34,2002,Florida,80.4,0.472,0.352,0.698,2002
41,5,12,12,7,2,Creighton,12,1,0,35,2002,Creighton,75.9,0.468,0.367,0.730,2002
43,4,13,4,9,1,Illinois,4,1,1,36,2002,Illinois,77.3,0.467,0.356,0.746,2002
46,4,13,4,9,1,San Diego State,13,0,0,37,2002,San Diego State,74.7,0.479,0.358,0.659,2002
47,6,11,6,5,1,Texas,6,1,1,38,2002,Texas,79.0,0.453,0.370,0.682,2002
50,6,11,6,5,1,Boston College,11,0,0,39,2002,Boston College,74.1,0.421,0.339,0.695,2002
51,3,14,3,11,1,Mississippi State,3,1,1,40,2002,Mississippi State,74.2,0.480,0.352,0.650,2002
53,7,10,7,3,1,Wake Forest,7,1,1,42,2002,Wake Forest,81.8,0.476,0.356,0.738,2002
55,7,10,7,3,1,Pepperdine,10,0,0,43,2002,Pepperdine,81.5,0.456,0.367,0.715,2002
56,2,15,2,13,1,Oregon,2,1,1,44,2002,Oregon,85.9,0.489,0.424,0.775,2002
60,2,15,2,13,1,Montana,15,0,0,45,2002,Montana,71.9,0.455,0.360,0.673,2002
32,1,8,1,7,1,Kansas,1,1,1,46,2002,Kansas,92.0,0.511,0.422,0.718,2002
38,1,8,1,7,1,Stanford,8,0,0,47,2002,Stanford,81.2,0.453,0.347,0.701,2002
42,12,4,4,8,1,Creighton,12,0,0,48,2002,Creighton,75.9,0.468,0.367,0.730,2002
44,12,4,4,8,1,Illinois,4,1,1,49,2002,Illinois,77.3,0.467,0.356,0.746,2002
48,6,3,6,3,2,Texas,6,1,0,50,2002,Texas,79.0,0.453,0.370,0.682,2002
52,6,3,6,3,2,Mississippi State,3,0,1,51,2002,Mississippi State,74.2,0.480,0.352,0.650,2002
54,7,2,2,5,1,Wake Forest,7,0,0,52,2002,Wake Forest,81.8,0.476,0.356,0.738,2002
57,7,2,2,5,1,Oregon,2,1,1,53,2002,Oregon,85.9,0.489,0.424,0.775,2002
33,1,4,1,3,1,Kansas,1,1,1,54,2002,Kansas,92.0,0.511,0.422,0.718,2002
45,1,4,1,3,1,Illinois,4,0,0,55,2002,Illinois,77.3,0.467,0.356,0.746,2002
49,6,2,2,4,1,Texas,6,0,0,56,2002,Texas,79.0,0.453,0.370,0.682,2002
58,6,2,2,4,1,Oregon,2,1,1,57,2002,Oregon,85.9,0.489,0.424,0.775,2002
34,1,2,1,1,1,Kansas,1,1,1,58,2002,Kansas,92.0,0.511,0.422,0.718,2002
59,1,2,1,1,1,Oregon,2,0,0,59,2002,Oregon,85.9,0.489,0.424,0.775,2002
61,1,16,1,15,1,Duke,1,1,1,60,2002,Duke,89.7,0.498,0.359,0.689,2002
64,1,16,1,15,1,Winthrop,16,0,0,61,2002,Winthrop,68.5,0.423,0.314,0.656,2002
65,8,9,8,1,1,Notre Dame,8,1,1,62,2002,Notre Dame,78.8,0.460,0.379,0.702,2002
67,8,9,8,1,1,Charlotte,9,0,0,63,2002,Charlotte,73.9,0.444,0.369,0.705,2002
68,5,12,5,7,1,Indiana,5,1,1,64,2002,Indiana,70.2,0.452,0.394,0.709,2002
74,5,12,5,7,1,Utah,12,0,0,65,2002,Utah,67.7,0.470,0.403,0.678,2002
75,4,13,13,9,2,USC,4,0,1,66,2002,USC,77.6,0.441,0.345,0.696,2002
76,4,13,13,9,2,UNC Wilmington,13,1,0,67,2002,UNC Wilmington,67.1,0.434,0.377,0.680,2002
78,6,11,6,5,1,California,6,1,1,68,2002,California,72.6,0.454,0.317,0.675,2002
80,3,14,3,11,1,Central Connecticut,14,0,0,71,2002,Central Connecticut,71.8,0.458,0.346,0.735,2002
81,7,10,10,3,2,Oklahoma State,7,0,1,72,2002,Oklahoma State,72.0,0.450,0.330,0.639,2002
82,7,10,10,3,2,Kent State,10,1,0,73,2002,Kent State,76.4,0.473,0.371,0.726,2002
86,2,15,2,13,1,Alabama,2,1,1,74,2002,Alabama,76.2,0.439,0.309,0.729,2002
88,2,15,2,13,1,Florida Atlantic,15,0,0,75,2002,Florida Atlantic,74.2,0.427,0.339,0.660,2002
62,1,8,1,7,1,Duke,1,1,1,76,2002,Duke,89.7,0.498,0.359,0.689,2002
66,1,8,1,7,1,Notre Dame,8,0,0,77,2002,Notre Dame,78.8,0.460,0.379,0.702,2002
69,5,13,5,8,1,Indiana,5,1,1,78,2002,Indiana,70.2,0.452,0.394,0.709,2002
77,5,13,5,8,1,UNC Wilmington,13,0,0,79,2002,UNC Wilmington,67.1,0.434,0.377,0.680,2002
79,6,3,3,3,1,California,6,0,0,80,2002,California,72.6,0.454,0.317,0.675,2002
83,10,2,10,8,2,Kent State,10,1,0,82,2002,Kent State,76.4,0.473,0.371,0.726,2002
87,10,2,10,8,2,Alabama,2,0,1,83,2002,Alabama,76.2,0.439,0.309,0.729,2002
63,1,5,5,4,2,Duke,1,0,1,84,2002,Duke,89.7,0.498,0.359,0.689,2002
70,1,5,5,4,2,Indiana,5,1,0,85,2002,Indiana,70.2,0.452,0.394,0.709,2002
84,3,10,10,7,2,Kent State,10,1,0,87,2002,Kent State,76.4,0.473,0.371,0.726,2002
71,5,10,5,5,1,Indiana,5,1,1,88,2002,Indiana,70.2,0.452,0.394,0.709,2002
85,5,10,5,5,1,Kent State,10,0,0,89,2002,Kent State,76.4,0.473,0.371,0.726,2002
89,1,16,1,15,1,Cincinnati,1,1,1,90,2002,Cincinnati,77.2,0.466,0.359,0.707,2002
91,1,16,1,15,1,Boston University,16,0,0,91,2002,Boston University,67.6,0.429,0.365,0.684,2002
92,8,9,8,1,1,UCLA,8,1,1,92,2002,UCLA,73.9,0.475,0.406,0.682,2002
95,8,9,8,1,1,Ole Miss,9,0,0,93,2002,Ole Miss,72.5,0.465,0.386,0.738,2002
96,5,12,12,7,2,Missouri,12,1,0,95,2002,Missouri,79.5,0.458,0.391,0.693,2002
100,4,13,4,9,1,Ohio State,4,1,1,96,2002,Ohio State,74.2,0.490,0.386,0.674,2002
102,4,13,4,9,1,Davidson,13,0,0,97,2002,Davidson,70.9,0.435,0.355,0.685,2002
103,6,11,11,5,2,Gonzaga,6,0,1,98,2002,Gonzaga,81.6,0.478,0.397,0.731,2002
104,6,11,11,5,2,Wyoming,11,1,0,99,2002,Wyoming,75.6,0.456,0.301,0.698,2002
106,3,14,3,11,1,Arizona,3,1,1,100,2002,Arizona,83.0,0.462,0.380,0.730,2002
109,7,10,7,3,1,Xavier,7,1,1,102,2002,Xavier,72.7,0.451,0.358,0.718,2002
111,2,15,2,13,1,Oklahoma,2,1,1,104,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
116,2,15,2,13,1,UIC,15,0,0,105,2002,UIC,73.9,0.445,0.412,0.653,2002
90,1,8,8,7,2,Cincinnati,1,0,1,106,2002,Cincinnati,77.2,0.466,0.359,0.707,2002
93,1,8,8,7,2,UCLA,8,1,0,107,2002,UCLA,73.9,0.475,0.406,0.682,2002
97,12,4,12,8,2,Missouri,12,1,0,108,2002,Missouri,79.5,0.458,0.391,0.693,2002
101,12,4,12,8,2,Ohio State,4,0,1,109,2002,Ohio State,74.2,0.490,0.386,0.674,2002
105,11,3,3,8,1,Wyoming,11,0,0,110,2002,Wyoming,75.6,0.456,0.301,0.698,2002
107,11,3,3,8,1,Arizona,3,1,1,111,2002,Arizona,83.0,0.462,0.380,0.730,2002
110,7,2,2,5,1,Xavier,7,0,0,112,2002,Xavier,72.7,0.451,0.358,0.718,2002
112,7,2,2,5,1,Oklahoma,2,1,1,113,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
94,8,12,12,4,2,UCLA,8,0,1,114,2002,UCLA,73.9,0.475,0.406,0.682,2002
98,8,12,12,4,2,Missouri,12,1,0,115,2002,Missouri,79.5,0.458,0.391,0.693,2002
108,3,2,2,1,1,Arizona,3,0,0,116,2002,Arizona,83.0,0.462,0.380,0.730,2002
113,3,2,2,1,1,Oklahoma,2,1,1,117,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
99,12,2,2,10,1,Missouri,12,0,0,118,2002,Missouri,79.5,0.458,0.391,0.693,2002
114,12,2,2,10,1,Oklahoma,2,1,1,119,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
4,1,1,1,0,0,Maryland,1,9999,9999,120,2002,Maryland,85.3,0.483,0.370,0.710,2002
35,1,1,1,0,0,Kansas,1,9999,9999,121,2002,Kansas,92.0,0.511,0.422,0.718,2002
115,2,5,5,3,2,Oklahoma,2,0,1,122,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
72,2,5,5,3,2,Indiana,5,1,0,123,2002,Indiana,70.2,0.452,0.394,0.709,2002
5,1,5,1,4,1,Maryland,1,1,1,124,2002,Maryland,85.3,0.483,0.370,0.710,2002
73,1,5,1,4,1,Indiana,5,0,0,125,2002,Indiana,70.2,0.452,0.394,0.709,2002

In [59]:
def find_missing_values (blah):
    the_values = []
    for thing in list(range(0,126)):
        if thing in blah:
            continue
        else:
            print(thing)
            the_values.append(thing)
    return the_values

In [60]:
the_values=find_missing_values (list(possibly2['index']))

8
20
31
45

In [70]:
newdf2[(newdf2['index']==31)]

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year
31,1,16,1,15,1,San Jose State,16,0,0,31,1996

In [918]:
pd.set_option('display.max_rows', 400)
df2.Name

0                       Alabama
1                       Gonzaga
2                  Wright State
3                          Duke
4            Eastern Washington
5                     Green Bay
6                           LSU
7                       Belmont
8                        Dayton
9            California Baptist
10                     Winthrop
11                          BYU
12             Central Michigan
13            Stephen F. Austin
14                 Oral Roberts
15                 South Dakota
16            Sam Houston State
17              Houston Baptist
18                      Buffalo
19                      McNeese
20             Western Carolina
21                       Auburn
22                         Iowa
23                Georgia State
24                   New Mexico
25                         UTSA
26           South Dakota State
27                      Arizona
28                    Creighton
29             St. Francis (PA)
30             Coastal Carolina
31               Portland State
32                      Hampton
33                North Florida
34                       Nevada
35                  Austin Peay
36                    Marquette
37        Florida International
38                  Boise State
39                         Yale
40                      Hofstra
41       Long Island University
42         East Tennessee State
43                       Furman
44                   Utah State
45                   Penn State
46                   Pepperdine
47             Eastern Kentucky
48                Northern Iowa
49                        Akron
50                  The Citadel
51                   Kent State
52            Abilene Christian
53                  Santa Clara
54                     Nicholls
55                 Saint Mary's
56               Colorado State
57                   Georgetown
58                 Alcorn State
59                 North Dakota
60                  New Orleans
61                UNC Asheville
62                      Georgia
63                 Murray State
64               Michigan State
65             Western Kentucky
66                     Michigan
67                       Oregon
68                Florida State
69              San Diego State
70                   Louisville
71                    UT Martin
72                      Colgate
73               CSU Northridge
74             Eastern Illinois
75                   St. John's
76             Western Illinois
77             Georgia Southern
78                          SMU
79                       Kansas
80             Central Arkansas
81                Bowling Green
82              Bethune-Cookman
83                     Kentucky
84               UNC Greensboro
85                       Toledo
86                 Rhode Island
87                San Francisco
88                     Richmond
89                      Seattle
90                     Marshall
91                   Notre Dame
92                     Delaware
93                 UMass Lowell
94                     NC State
95                   Seton Hall
96                  Loyola (MD)
97               Louisiana Tech
98            Northern Colorado
99                        Omaha
100                   UC Irvine
101          North Dakota State
102                    Syracuse
103                    Arkansas
104                   Air Force
105                   Villanova
106                  Texas Tech
107                        Rice
108               Arizona State
109                  Cincinnati
110                     Samford
111           Mississippi State
112                Sacred Heart
113          Northwestern State
114                     Memphis
115                    UC Davis
116                    Davidson
117                     Harvard
118                       Miami
119                     Wofford
120                  Iowa State
121                Pennsylvania
122                 Texas State
123                 Chattanooga
124               Southern Utah
125               Youngstown St
126        UT Rio Grande Valley
127                     Houston
128                      Mercer
129                       Siena
130                     Indiana
131           Northern Kentucky
132            Northern Arizona
133                    Illinois
134               James Madison
135               Wichita State
136          Jacksonville State
137                      DePaul
138                 Little Rock
139             Tennessee State
140                  Valparaiso
141                       Rider
142                   Grambling
143                     Florida
144              Texas Southern
145                   Milwaukee
146           Boston University
147            UC Santa Barbara
148                Gardner-Webb
149                     Radford
150                         VMI
151              Delaware State
152                  Vanderbilt
153                Oregon State
154                   Louisiana
155              South Carolina
156                     Bradley
157                    Maryland
158         Fairleigh Dickinson
159                        UNLV
160            Middle Tennessee
161                  Ohio State
162                    American
163                 Saint Louis
164                       Lamar
165                 North Texas
166                 Wake Forest
167                         USC
168            New Mexico State
169                    Colorado
170                       UConn
171               South Alabama
172                Northeastern
173                        Army
174                         VCU
175              William & Mary
176                    Nebraska
177                     Montana
178                Grand Canyon
179                   Lafayette
180                 Utah Valley
181                   Princeton
182          North Carolina A&T
183                  Miami (OH)
184                      Baylor
185            Prairie View A&M
186        South Carolina State
187                    Duquesne
188                      Bryant
189                  Providence
190                    Oklahoma
191                        Ohio
192               Virginia Tech
193                    Lipscomb
194                        Utah
195               West Virginia
196                 San Jos St
197              North Carolina
198                      Xavier
199                 Stony Brook
200                      Towson
201              Arkansas State
202                    Monmouth
203                     Pacific
204                       IUPUI
205                     Vermont
206            Florida Atlantic
207                       Drake
208                Morgan State
209               Norfolk State
210                    Stanford
211                UT Arlington
212                        UCLA
213           St. Francis (BKN)
214                      Howard
215                  Washington
216                     Rutgers
217                  Charleston
218                      Temple
219                        UMKC
220            Washington State
221                    Ole Miss
222                      Denver
223                 Weber State
224                        Iona
225                      Drexel
226                Fresno State
227              Missouri State
228                   Minnesota
229                  Quinnipiac
230              Morehead State
231               Detroit Mercy
232         Charleston Southern
233                  Binghamton
234           Purdue Fort Wayne
235                        Troy
236                     Hawai'i
237               Robert Morris
238                    Canisius
239             St. Bonaventure
240                  Ball State
241                         UCF
242                       Tulsa
243                        Elon
244                Georgia Tech
245               Indiana State
246              Loyola Chicago
247                      Butler
248             CSU Bakersfield
249                       UMass
250              UNC Wilmington
251                    Southern
252              Saint Joseph's
253               New Hampshire
254                      Wagner
255               East Carolina
256               CSU Fullerton
257                      Tulane
258                    Campbell
259                 Idaho State
260                      Purdue
261                    La Salle
262                     Liberty
263           Appalachian State
264                SE Louisiana
265                        UMBC
266                  Evansville
267               North Alabama
268                    Bucknell
269                   Charlotte
270                Coppin State
271      South Carolina Upstate
272                    Longwood
273                      Lehigh
274                       Brown
275                         UIC
276                 Florida A&M
277    Mississippi Valley State
278                    Missouri
279                Presbyterian
280               Montana State
281      North Carolina Central
282                     Clemson
283                George Mason
284           George Washington
285                    Cal Poly
286                  Holy Cross
287              Oklahoma State
288                      Albany
289                     Cornell
290               Southern Miss
291                    Columbia
292               Saint Peter's
293           Northern Illinois
294            Long Beach State
295                   Tennessee
296                        UTEP
297                     Oakland
298                Jacksonville
299            Western Michigan
300            SIU-Edwardsville
301                    Portland
302                         UAB
303               Jackson State
304                    Hartford
305                   Wisconsin
306              Illinois State
307                   San Diego
308              SE Missouri St
309                     Niagara
310                       Idaho
311              Incarnate Word
312                  Pittsburgh
313              Tennessee Tech
314                         TCU
315                  High Point
316            Eastern Michigan
317                UC Riverside
318              Boston College
319                Northwestern
320                Old Dominion
321            Loyola Marymount
322                       Texas
323                Kansas State
324                Texas A&M-CC
325             Cleveland State
326              Mt. St. Mary's
327                        Navy
328                   Manhattan
329                        NJIT
330                   UL Monroe
331                 Alabama A&M
332                     Stetson
333           Southern Illinois
334                   Dartmouth
335         Central Connecticut
336                   Merrimack
337                   Texas A&M
338                  California
339            Sacramento State
340               South Florida
341               Chicago State
342                     Wyoming
343               Alabama State
344          Florida Gulf Coast
345                      Marist
346                       Maine
347                   Fairfield
348                    Virginia
349                     Fordham
350      Maryland-Eastern Shore
351              Kennesaw State
352         Arkansas-Pine Bluff
Name: Name, dtype: object

In [74]:
df2

                         Name   PTS  FG_perc  _3p_perc  FT_perc  year
0                     Alabama  83.3    0.443     0.355    0.696  1996
1                     Gonzaga  87.6    0.512     0.385    0.685  1996
2                Wright State  82.4    0.465     0.372    0.688  1996
3                        Duke  82.6    0.477     0.355    0.695  1996
4          Eastern Washington  81.3    0.461     0.353    0.695  1996
5                   Green Bay  81.5    0.461     0.373    0.751  1996
6                         LSU  80.8    0.472     0.319    0.773  1996
7                     Belmont  81.2    0.480     0.360    0.711  1996
8                      Dayton  80.6    0.521     0.369    0.730  1996
9          California Baptist  80.7    0.450     0.382    0.778  1996
10                   Winthrop  80.4    0.457     0.343    0.634  1996
11                        BYU  80.6    0.503     0.422    0.706  1996
12           Central Michigan  80.3    0.438     0.330    0.734  1996
13          Stephen F. Austin  80.3    0.493     0.365    0.702  1996
14               Oral Roberts  79.7    0.440     0.325    0.757  1996
15               South Dakota  80.0    0.493     0.394    0.761  1996
16          Sam Houston State  79.7    0.456     0.349    0.754  1996
17            Houston Baptist  79.7    0.436     0.352    0.737  1996
18                    Buffalo  79.0    0.436     0.324    0.664  1996
19                    McNeese  79.7    0.499     0.407    0.723  1996
20           Western Carolina  78.6    0.463     0.369    0.712  1996
21                     Auburn  78.7    0.432     0.301    0.673  1996
22                       Iowa  78.5    0.455     0.351    0.741  1996
23              Georgia State  78.6    0.442     0.370    0.733  1996
24                 New Mexico  78.5    0.475     0.329    0.720  1996
25                       UTSA  78.5    0.426     0.345    0.761  1996
26         South Dakota State  78.1    0.493     0.351    0.713  1996
27                    Arizona  78.1    0.456     0.359    0.732  1996
28                  Creighton  78.1    0.470     0.377    0.735  1996
29           St. Francis (PA)  78.1    0.463     0.373    0.748  1996
30           Coastal Carolina  77.9    0.449     0.331    0.706  1996
31             Portland State  78.0    0.446     0.333    0.713  1996
32                    Hampton  77.8    0.457     0.323    0.697  1996
33              North Florida  77.9    0.449     0.381    0.761  1996
34                     Nevada  77.5    0.448     0.383    0.748  1996
35                Austin Peay  77.7    0.462     0.343    0.733  1996
36                  Marquette  77.2    0.426     0.378    0.738  1996
37      Florida International  77.3    0.457     0.355    0.654  1996
38                Boise State  77.0    0.458     0.351    0.750  1996
39                       Yale  77.2    0.473     0.370    0.707  1996
40                    Hofstra  76.8    0.451     0.359    0.784  1996
41     Long Island University  76.9    0.444     0.352    0.706  1996
42       East Tennessee State  76.8    0.475     0.341    0.687  1996
43                     Furman  76.8    0.476     0.352    0.690  1996
44                 Utah State  76.5    0.455     0.326    0.776  1996
45                 Penn State  76.7    0.444     0.332    0.694  1996
46                 Pepperdine  76.2    0.435     0.350    0.795  1996
47           Eastern Kentucky  76.3    0.419     0.328    0.728  1996
48              Northern Iowa  76.1    0.481     0.396    0.768  1996
49                      Akron  76.2    0.445     0.370    0.769  1996
50                The Citadel  76.0    0.438     0.331    0.692  1996
51                 Kent State  76.1    0.450     0.345    0.722  1996
52          Abilene Christian  75.9    0.448     0.310    0.746  1996
53                Santa Clara  76.0    0.467     0.359    0.736  1996
54                   Nicholls  75.8    0.435     0.329    0.752  1996
55               Saint Mary's  75.8    0.482     0.408    0.749  1996
56             Colorado State  75.7    0.471     0.365    0.671  1996
57                 Georgetown  75.8    0.441     0.345    0.776  1996
58               Alcorn State  75.7    0.425     0.366    0.752  1996
59               North Dakota  75.7    0.461     0.341    0.776  1996
60                New Orleans  75.7    0.462     0.346    0.759  1996
61              UNC Asheville  75.7    0.462     0.346    0.656  1996
62                    Georgia  75.6    0.448     0.301    0.698  1996
63               Murray State  75.6    0.479     0.367    0.708  1996
64             Michigan State  75.5    0.456     0.348    0.749  1996
65           Western Kentucky  75.5    0.456     0.333    0.786  1996
66                   Michigan  75.4    0.460     0.345    0.717  1996
67                     Oregon  75.5    0.465     0.380    0.695  1996
68              Florida State  75.3    0.456     0.361    0.759  1996
69            San Diego State  75.4    0.473     0.382    0.753  1996
70                 Louisville  75.3    0.457     0.383    0.729  1996
71                  UT Martin  75.3    0.455     0.346    0.755  1996
72                    Colgate  75.1    0.445     0.357    0.751  1996
73             CSU Northridge  75.2    0.453     0.368    0.724  1996
74           Eastern Illinois  75.1    0.460     0.342    0.667  1996
75                 St. John's  75.1    0.410     0.309    0.706  1996
76           Western Illinois  75.0    0.430     0.369    0.778  1996
77           Georgia Southern  75.1    0.435     0.326    0.680  1996
78                        SMU  75.0    0.459     0.337    0.769  1996
79                     Kansas  75.0    0.489     0.352    0.663  1996
80           Central Arkansas  74.9    0.418     0.312    0.713  1996
81              Bowling Green  75.0    0.423     0.336    0.740  1996
82            Bethune-Cookman  74.9    0.424     0.319    0.705  1996
83                   Kentucky  74.9    0.461     0.327    0.791  1996
84             UNC Greensboro  74.7    0.433     0.318    0.634  1996
85                     Toledo  74.8    0.437     0.362    0.736  1996
86               Rhode Island  74.7    0.428     0.323    0.692  1996
87              San Francisco  74.7    0.436     0.335    0.722  1996
88                   Richmond  74.6    0.465     0.358    0.770  1996
89                    Seattle  74.6    0.403     0.312    0.772  1996
90                   Marshall  74.5    0.439     0.301    0.648  1996
91                 Notre Dame  74.6    0.424     0.342    0.733  1996
92                   Delaware  74.4    0.480     0.356    0.764  1996
93               UMass Lowell  74.5    0.453     0.331    0.722  1996
94                   NC State  74.3    0.446     0.324    0.707  1996
95                 Seton Hall  74.4    0.442     0.325    0.716  1996
96                Loyola (MD)  74.1    0.472     0.326    0.644  1996
97             Louisiana Tech  74.1    0.464     0.354    0.663  1996
98          Northern Colorado  74.1    0.466     0.377    0.678  1996
99                      Omaha  74.1    0.453     0.346    0.710  1996
100                 UC Irvine  74.0    0.470     0.350    0.744  1996
101        North Dakota State  74.1    0.447     0.349    0.795  1996
102                  Syracuse  74.0    0.435     0.337    0.743  1996
103                  Arkansas  74.0    0.437     0.320    0.727  1996
104                 Air Force  73.8    0.456     0.374    0.733  1996
105                 Villanova  73.9    0.441     0.364    0.778  1996
106                Texas Tech  73.7    0.461     0.361    0.754  1996
107                      Rice  73.8    0.433     0.340    0.707  1996
108             Arizona State  73.7    0.433     0.323    0.683  1996
109                Cincinnati  73.7    0.449     0.317    0.675  1996
110                   Samford  73.6    0.439     0.346    0.736  1996
111         Mississippi State  73.6    0.467     0.340    0.751  1996
112              Sacred Heart  73.4    0.432     0.325    0.743  1996
113        Northwestern State  73.6    0.441     0.354    0.728  1996
114                   Memphis  73.3    0.448     0.336    0.671  1996
115                  UC Davis  73.3    0.464     0.389    0.786  1996
116                  Davidson  73.2    0.453     0.368    0.763  1996
117                   Harvard  73.3    0.459     0.327    0.686  1996
118                     Miami  73.2    0.439     0.331    0.756  1996
119                   Wofford  73.2    0.460     0.349    0.717  1996
120                Iowa State  73.1    0.441     0.324    0.735  1996
121              Pennsylvania  73.1    0.450     0.321    0.681  1996
122               Texas State  72.9    0.457     0.333    0.762  1996
123               Chattanooga  73.0    0.452     0.354    0.717  1996
124             Southern Utah  72.8    0.454     0.324    0.715  1996
125             Youngstown St  72.8    0.423     0.312    0.687  1996
126      UT Rio Grande Valley  72.7    0.438     0.349    0.707  1996
127                   Houston  72.8    0.430     0.340    0.730  1996
128                    Mercer  72.6    0.455     0.357    0.726  1996
129                     Siena  72.6    0.452     0.342    0.689  1996
130                   Indiana  72.5    0.452     0.323    0.685  1996
131         Northern Kentucky  72.6    0.434     0.311    0.686  1996
132          Northern Arizona  72.5    0.452     0.372    0.705  1996
133                  Illinois  72.5    0.443     0.311    0.731  1996
134             James Madison  72.5    0.416     0.318    0.648  1996
135             Wichita State  72.5    0.407     0.323    0.691  1996
136        Jacksonville State  72.5    0.451     0.340    0.680  1996
137                    DePaul  72.5    0.446     0.325    0.643  1996
138               Little Rock  72.5    0.470     0.344    0.710  1996
139           Tennessee State  72.5    0.470     0.355    0.647  1996
140                Valparaiso  72.3    0.438     0.338    0.715  1996
141                     Rider  72.4    0.439     0.328    0.646  1996
142                 Grambling  72.2    0.457     0.301    0.679  1996
143                   Florida  72.3    0.451     0.342    0.728  1996
144            Texas Southern  72.2    0.413     0.303    0.696  1996
145                 Milwaukee  72.2    0.410     0.322    0.709  1996
146         Boston University  72.1    0.466     0.324    0.663  1996
147          UC Santa Barbara  72.1    0.470     0.341    0.758  1996
148              Gardner-Webb  72.1    0.439     0.355    0.691  1996
149                   Radford  72.1    0.468     0.355    0.632  1996
150                       VMI  71.9    0.427     0.355    0.710  1996
151            Delaware State  71.9    0.408     0.307    0.681  1996
152                Vanderbilt  71.9    0.431     0.335    0.693  1996
153              Oregon State  71.9    0.459     0.317    0.748  1996
154                 Louisiana  71.7    0.412     0.321    0.734  1996
155            South Carolina  71.8    0.436     0.316    0.618  1996
156                   Bradley  71.7    0.443     0.374    0.730  1996
157                  Maryland  71.7    0.417     0.318    0.744  1996
158       Fairleigh Dickinson  71.7    0.446     0.354    0.729  1996
159                      UNLV  71.7    0.430     0.315    0.706  1996
160          Middle Tennessee  71.6    0.423     0.338    0.668  1996
161                Ohio State  71.7    0.449     0.378    0.733  1996
162                  American  71.6    0.455     0.337    0.703  1996
163               Saint Louis  71.6    0.447     0.337    0.585  1996
164                     Lamar  71.6    0.436     0.321    0.698  1996
165               North Texas  71.6    0.488     0.385    0.746  1996
166               Wake Forest  71.5    0.423     0.337    0.744  1996
167                       USC  71.6    0.438     0.348    0.676  1996
168          New Mexico State  71.5    0.460     0.356    0.709  1996
169                  Colorado  71.5    0.441     0.372    0.737  1996
170                     UConn  71.5    0.410     0.326    0.733  1996
171             South Alabama  71.5    0.466     0.330    0.727  1996
172              Northeastern  71.3    0.472     0.368    0.796  1996
173                      Army  71.4    0.476     0.333    0.617  1996
174                       VCU  71.3    0.429     0.342    0.703  1996
175            William & Mary  71.3    0.465     0.345    0.740  1996
176                  Nebraska  71.1    0.413     0.323    0.603  1996
177                   Montana  71.2    0.471     0.365    0.728  1996
178              Grand Canyon  71.1    0.449     0.330    0.750  1996
179                 Lafayette  71.1    0.460     0.353    0.740  1996
180               Utah Valley  71.0    0.441     0.306    0.713  1996
181                 Princeton  71.0    0.462     0.344    0.718  1996
182        North Carolina A&T  70.9    0.420     0.294    0.603  1996
183                Miami (OH)  71.0    0.423     0.340    0.710  1996
184                    Baylor  70.8    0.430     0.350    0.690  1996
185          Prairie View A&M  70.9    0.437     0.308    0.710  1996
186      South Carolina State  70.8    0.438     0.316    0.754  1996
187                  Duquesne  70.8    0.443     0.317    0.736  1996
188                    Bryant  70.8    0.417     0.321    0.678  1996
189                Providence  70.8    0.408     0.324    0.687  1996
190                  Oklahoma  70.7    0.421     0.324    0.770  1996
191                      Ohio  70.8    0.445     0.347    0.677  1996
192             Virginia Tech  70.6    0.425     0.354    0.709  1996
193                  Lipscomb  70.7    0.444     0.334    0.697  1996
194                      Utah  70.6    0.445     0.325    0.732  1996
195             West Virginia  70.6    0.423     0.290    0.642  1996
196               San Jos St  70.6    0.393     0.300    0.719  1996
197            North Carolina  70.6    0.413     0.291    0.663  1996
198                    Xavier  70.6    0.431     0.305    0.655  1996
199               Stony Brook  70.6    0.408     0.336    0.722  1996
200                    Towson  70.5    0.430     0.344    0.774  1996
201            Arkansas State  70.6    0.436     0.347    0.706  1996
202                  Monmouth  70.5    0.405     0.333    0.726  1996
203                   Pacific  70.5    0.456     0.352    0.664  1996
204                     IUPUI  70.3    0.410     0.337    0.640  1996
205                   Vermont  70.3    0.441     0.324    0.713  1996
206          Florida Atlantic  70.3    0.423     0.317    0.703  1996
207                     Drake  70.3    0.461     0.343    0.710  1996
208              Morgan State  70.2    0.425     0.285    0.699  1996
209             Norfolk State  70.2    0.422     0.326    0.700  1996
210                  Stanford  70.1    0.471     0.372    0.692  1996
211              UT Arlington  70.1    0.414     0.309    0.757  1996
212                      UCLA  69.9    0.441     0.320    0.708  1996
213         St. Francis (BKN)  70.0    0.425     0.295    0.716  1996
214                    Howard  69.8    0.419     0.338    0.683  1996
215                Washington  69.9    0.441     0.331    0.713  1996
216                   Rutgers  69.8    0.444     0.301    0.651  1996
217                Charleston  69.8    0.439     0.336    0.764  1996
218                    Temple  69.7    0.411     0.323    0.692  1996
219                      UMKC  69.8    0.458     0.363    0.687  1996
220          Washington State  69.7    0.398     0.312    0.727  1996
221                  Ole Miss  69.7    0.435     0.327    0.725  1996
222                    Denver  69.5    0.446     0.330    0.691  1996
223               Weber State  69.5    0.454     0.330    0.714  1996
224                      Iona  69.4    0.432     0.331    0.760  1996
225                    Drexel  69.4    0.445     0.357    0.705  1996
226              Fresno State  69.4    0.419     0.335    0.700  1996
227            Missouri State  69.4    0.433     0.345    0.743  1996
228                 Minnesota  69.3    0.415     0.313    0.708  1996
229                Quinnipiac  69.3    0.417     0.350    0.758  1996
230            Morehead State  69.2    0.436     0.296    0.637  1996
231             Detroit Mercy  69.3    0.389     0.325    0.794  1996
232       Charleston Southern  69.1    0.427     0.320    0.733  1996
233                Binghamton  69.2    0.410     0.327    0.717  1996
234         Purdue Fort Wayne  69.1    0.433     0.327    0.675  1996
235                      Troy  69.1    0.398     0.313    0.678  1996
236                   Hawai'i  69.0    0.428     0.332    0.696  1996
237             Robert Morris  69.1    0.438     0.362    0.666  1996
238                  Canisius  69.0    0.440     0.302    0.693  1996
239           St. Bonaventure  69.0    0.437     0.343    0.733  1996
240                Ball State  68.9    0.426     0.336    0.670  1996
241                       UCF  69.0    0.426     0.315    0.708  1996
242                     Tulsa  68.8    0.445     0.309    0.710  1996
243                      Elon  68.9    0.415     0.365    0.742  1996
244              Georgia Tech  68.8    0.453     0.304    0.667  1996
245             Indiana State  68.8    0.450     0.385    0.703  1996
246            Loyola Chicago  68.8    0.501     0.368    0.657  1996
247                    Butler  68.8    0.463     0.340    0.733  1996
248           CSU Bakersfield  68.7    0.437     0.320    0.685  1996
249                     UMass  68.7    0.426     0.324    0.691  1996
250            UNC Wilmington  68.6    0.430     0.346    0.704  1996
251                  Southern  68.7    0.435     0.317    0.668  1996
252            Saint Joseph's  68.6    0.386     0.302    0.702  1996
253             New Hampshire  68.6    0.403     0.325    0.672  1996
254                    Wagner  68.5    0.415     0.326    0.726  1996
255             East Carolina  68.6    0.418     0.284    0.726  1996
256             CSU Fullerton  68.4    0.431     0.339    0.681  1996
257                    Tulane  68.5    0.415     0.345    0.705  1996
258                  Campbell  68.4    0.456     0.347    0.729  1996
259               Idaho State  68.4    0.446     0.341    0.657  1996
260                    Purdue  68.3    0.424     0.342    0.670  1996
261                  La Salle  68.3    0.414     0.347    0.659  1996
262                   Liberty  68.3    0.472     0.359    0.710  1996
263         Appalachian State  68.3    0.432     0.312    0.666  1996
264              SE Louisiana  68.2    0.411     0.291    0.666  1996
265                      UMBC  68.3    0.444     0.322    0.635  1996
266                Evansville  68.1    0.427     0.321    0.726  1996
267             North Alabama  68.1    0.423     0.333    0.684  1996
268                  Bucknell  68.1    0.418     0.344    0.704  1996
269                 Charlotte  68.1    0.462     0.351    0.703  1996
270              Coppin State  68.1    0.396     0.282    0.636  1996
271    South Carolina Upstate  68.1    0.419     0.311    0.689  1996
272                  Longwood  67.9    0.405     0.341    0.712  1996
273                    Lehigh  68.0    0.447     0.339    0.735  1996
274                     Brown  67.7    0.405     0.304    0.716  1996
275                       UIC  67.8    0.437     0.344    0.689  1996
276               Florida A&M  67.7    0.422     0.290    0.632  1996
277  Mississippi Valley State  67.7    0.365     0.288    0.640  1996
278                  Missouri  67.4    0.413     0.306    0.773  1996
279              Presbyterian  67.6    0.455     0.317    0.705  1996
280             Montana State  67.3    0.444     0.326    0.750  1996
281    North Carolina Central  67.3    0.453     0.301    0.659  1996
282                   Clemson  67.1    0.432     0.328    0.679  1996
283              George Mason  67.3    0.420     0.310    0.705  1996

In [80]:
df2[(df2['Name']=='San Jos St')]

            Name   PTS  FG_perc  _3p_perc  FT_perc  year
196  San Jos St  70.6    0.393       0.3    0.719  1996

In [65]:
#still working on this
def add_to_df (name1, num,df):
    maybe=df2[(df2['Name']==f'{name1}')]
    maybe2=newdf2[(newdf2['index']==num)]
    dict = {'first_team':list(maybe2['first_team'])[0],'second_team':list(maybe2['second_team'])[0],
            'winner':list(maybe2['winner'])[0],
            'point_difference':list(maybe2['point_difference'])[0],'result':list(maybe2['result'])[0],
            'name':list(maybe2['name'])[0],
            'team_rank':list(maybe2['team_rank'])[0],'win':list(maybe2['win'])[0],
            'higher_or_lower_seed':list(maybe2['higher_or_lower_seed'])[0],
            'index':list(maybe2['index'])[0],'year_x':list(maybe['year'])[0], 'Name': list(maybe['Name'])[0],
            'PTS':list(maybe['PTS'])[0],'year_y':list(maybe['year'])[0],
            'FG_perc':list(maybe['FG_perc'])[0],'_3p_perc':list(maybe['_3p_perc'])[0],
            'FT_perc':list(maybe['FT_perc'])[0],'year_y':list(maybe['year'])[0]}
    possibly2=df.append(dict, ignore_index=True)
    return possibly2

In [116]:
pd.set_option('display.max_rows', 400)

possibly2 = possibly2.sort_values(by ='index' )
possibly2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year_x,Name,PTS,FG_perc,_3p_perc,FT_perc,year_y
0,1,16,1,15,1,UMass,1,1,1,0,1996,UMass,68.7,0.426,0.324,0.691,1996
1,1,16,1,15,1,UCF,16,0,0,1,1996,UCF,69.0,0.426,0.315,0.708,1996
2,8,9,9,1,2,Bradley,8,0,1,2,1996,Bradley,71.7,0.443,0.374,0.730,1996
3,8,9,9,1,2,Stanford,9,1,0,3,1996,Stanford,70.1,0.471,0.372,0.692,1996
4,5,12,12,7,2,Penn State,5,0,1,4,1996,Penn State,76.7,0.444,0.332,0.694,1996
5,5,12,12,7,2,Arkansas,12,1,0,5,1996,Arkansas,74.0,0.437,0.320,0.727,1996
6,4,13,4,9,1,Marquette,4,1,1,6,1996,Marquette,77.2,0.426,0.378,0.738,1996
7,4,13,4,9,1,Monmouth,13,0,0,7,1996,Monmouth,70.5,0.405,0.333,0.726,1996
8,6,11,6,5,1,UNC,6,1,1,8,1996,North Carolina,70.6,0.413,0.291,0.663,1996
124,6,11,6,5,1,UNC,6,1,1,8,1996,North Carolina,70.6,0.413,0.291,0.663,1996
9,6,11,6,5,1,New Orleans,11,0,0,9,1996,New Orleans,75.7,0.462,0.346,0.759,1996
10,3,14,3,11,1,Texas Tech,3,1,1,10,1996,Texas Tech,73.7,0.461,0.361,0.754,1996
11,3,14,3,11,1,Northern Illinois,14,0,0,11,1996,Northern Illinois,66.8,0.413,0.339,0.675,1996
12,7,10,7,3,1,New Mexico,7,1,1,12,1996,New Mexico,78.5,0.475,0.329,0.720,1996
13,7,10,7,3,1,Kansas State,10,0,0,13,1996,Kansas State,64.3,0.412,0.316,0.644,1996
14,2,15,2,13,1,Georgetown,2,1,1,14,1996,Georgetown,75.8,0.441,0.345,0.776,1996
15,2,15,2,13,1,Mississippi Valley State,15,0,0,15,1996,Mississippi Valley State,67.7,0.365,0.288,0.640,1996
16,1,9,1,8,1,UMass,1,1,1,16,1996,UMass,68.7,0.426,0.324,0.691,1996
17,1,9,1,8,1,Stanford,9,0,0,17,1996,Stanford,70.1,0.471,0.372,0.692,1996
18,12,4,12,8,2,Arkansas,12,1,0,18,1996,Arkansas,74.0,0.437,0.320,0.727,1996
19,12,4,12,8,2,Marquette,4,0,1,19,1996,Marquette,77.2,0.426,0.378,0.738,1996
20,6,3,3,3,1,UNC,6,0,0,20,1996,North Carolina,70.6,0.413,0.291,0.663,1996
125,6,3,3,3,1,UNC,6,0,0,20,1996,North Carolina,70.6,0.413,0.291,0.663,1996
21,6,3,3,3,1,Texas Tech,3,1,1,21,1996,Texas Tech,73.7,0.461,0.361,0.754,1996
22,7,2,2,5,1,New Mexico,7,0,0,22,1996,New Mexico,78.5,0.475,0.329,0.720,1996
23,7,2,2,5,1,Georgetown,2,1,1,23,1996,Georgetown,75.8,0.441,0.345,0.776,1996
24,1,12,1,11,1,UMass,1,1,1,24,1996,UMass,68.7,0.426,0.324,0.691,1996
25,1,12,1,11,1,Arkansas,12,0,0,25,1996,Arkansas,74.0,0.437,0.320,0.727,1996
26,3,2,2,1,1,Texas Tech,3,0,0,26,1996,Texas Tech,73.7,0.461,0.361,0.754,1996
27,3,2,2,1,1,Georgetown,2,1,1,27,1996,Georgetown,75.8,0.441,0.345,0.776,1996
28,1,2,1,1,1,UMass,1,1,1,28,1996,UMass,68.7,0.426,0.324,0.691,1996
29,1,2,1,1,1,Georgetown,2,0,0,29,1996,Georgetown,75.8,0.441,0.345,0.776,1996
30,1,16,1,15,1,Kentucky,1,1,1,30,1996,Kentucky,74.9,0.461,0.327,0.791,1996
126,1,16,1,15,1,San Jose State,16,0,0,31,1996,San Jos St,70.6,0.393,0.300,0.719,1996
31,8,9,9,1,2,Green Bay,8,0,1,32,1996,Green Bay,81.5,0.461,0.373,0.751,1996
32,8,9,9,1,2,Virginia Tech,9,1,0,33,1996,Virginia Tech,70.6,0.425,0.354,0.709,1996
33,5,12,5,7,1,Iowa State,5,1,1,34,1996,Iowa State,73.1,0.441,0.324,0.735,1996
34,5,12,5,7,1,California,12,0,0,35,1996,California,62.4,0.421,0.341,0.723,1996
35,4,13,4,9,1,Utah,4,1,1,36,1996,Utah,70.6,0.445,0.325,0.732,1996
36,4,13,4,9,1,Canisius,13,0,0,37,1996,Canisius,69.0,0.440,0.302,0.693,1996
37,6,11,6,5,1,Louisville,6,1,1,38,1996,Louisville,75.3,0.457,0.383,0.729,1996
38,6,11,6,5,1,Tulsa,11,0,0,39,1996,Tulsa,68.8,0.445,0.309,0.710,1996
39,3,14,3,11,1,Villanova,3,1,1,40,1996,Villanova,73.9,0.441,0.364,0.778,1996
40,3,14,3,11,1,Portland,14,0,0,41,1996,Portland,66.6,0.431,0.333,0.668,1996
41,7,10,10,3,2,Michigan,7,0,1,42,1996,Michigan,75.4,0.460,0.345,0.717,1996
42,7,10,10,3,2,Texas,10,1,0,43,1996,Texas,64.6,0.429,0.337,0.674,1996
43,2,15,2,13,1,Wake Forest,2,1,1,44,1996,Wake Forest,71.5,0.423,0.337,0.744,1996
127,2,15,2,13,1,Louisiana-Monroe,15,0,0,45,1996,UL Monroe,63.4,0.425,0.339,0.677,1996
44,1,9,1,8,1,Kentucky,1,1,1,46,1996,Kentucky,74.9,0.461,0.327,0.791,1996
45,1,9,1,8,1,Virginia Tech,9,0,0,47,1996,Virginia Tech,70.6,0.425,0.354,0.709,1996
46,5,4,4,1,1,Iowa State,5,0,0,48,1996,Iowa State,73.1,0.441,0.324,0.735,1996
47,5,4,4,1,1,Utah,4,1,1,49,1996,Utah,70.6,0.445,0.325,0.732,1996
48,6,3,6,3,2,Louisville,6,1,0,50,1996,Louisville,75.3,0.457,0.383,0.729,1996
49,6,3,6,3,2,Villanova,3,0,1,51,1996,Villanova,73.9,0.441,0.364,0.778,1996
50,10,2,2,8,1,Texas,10,0,0,52,1996,Texas,64.6,0.429,0.337,0.674,1996
51,10,2,2,8,1,Wake Forest,2,1,1,53,1996,Wake Forest,71.5,0.423,0.337,0.744,1996
52,1,4,1,3,1,Kentucky,1,1,1,54,1996,Kentucky,74.9,0.461,0.327,0.791,1996
53,1,4,1,3,1,Utah,4,0,0,55,1996,Utah,70.6,0.445,0.325,0.732,1996
54,6,2,2,4,1,Louisville,6,0,0,56,1996,Louisville,75.3,0.457,0.383,0.729,1996
55,6,2,2,4,1,Wake Forest,2,1,1,57,1996,Wake Forest,71.5,0.423,0.337,0.744,1996
56,1,2,1,1,1,Kentucky,1,1,1,58,1996,Kentucky,74.9,0.461,0.327,0.791,1996
57,1,2,1,1,1,Wake Forest,2,0,0,59,1996,Wake Forest,71.5,0.423,0.337,0.744,1996
58,1,16,1,15,1,UConn,1,1,1,60,1996,UConn,71.5,0.410,0.326,0.733,1996
59,1,16,1,15,1,Colgate,16,0,0,61,1996,Colgate,75.1,0.445,0.357,0.751,1996
60,8,9,9,1,2,Duke,8,0,1,62,1996,Duke,82.6,0.477,0.355,0.695,1996
61,8,9,9,1,2,Eastern Michigan,9,1,0,63,1996,Eastern Michigan,64.9,0.431,0.286,0.624,1996
62,5,12,5,7,1,Mississippi State,5,1,1,64,1996,Mississippi State,73.6,0.467,0.340,0.751,1996
63,5,12,5,7,1,VCU,12,0,0,65,1996,VCU,71.3,0.429,0.342,0.703,1996
64,4,13,13,9,2,UCLA,4,0,1,66,1996,UCLA,69.9,0.441,0.320,0.708,1996
65,4,13,13,9,2,Princeton,13,1,0,67,1996,Princeton,71.0,0.462,0.344,0.718,1996
66,6,11,11,5,2,Indiana,6,0,1,68,1996,Indiana,72.5,0.452,0.323,0.685,1996
67,6,11,11,5,2,Boston College,11,1,0,69,1996,Boston College,64.8,0.406,0.301,0.664,1996
68,3,14,3,11,1,Georgia Tech,3,1,1,70,1996,Georgia Tech,68.8,0.453,0.304,0.667,1996
69,3,14,3,11,1,Austin Peay,14,0,0,71,1996,Austin Peay,77.7,0.462,0.343,0.733,1996
70,7,10,7,3,1,Temple,7,1,1,72,1996,Temple,69.7,0.411,0.323,0.692,1996
71,7,10,7,3,1,Oklahoma,10,0,0,73,1996,Oklahoma,70.7,0.421,0.324,0.770,1996
72,2,15,2,13,1,Cincinnati,2,1,1,74,1996,Cincinnati,73.7,0.449,0.317,0.675,1996
73,2,15,2,13,1,UNC Greensboro,15,0,0,75,1996,UNC Greensboro,74.7,0.433,0.318,0.634,1996
74,1,9,1,8,1,UConn,1,1,1,76,1996,UConn,71.5,0.410,0.326,0.733,1996
75,1,9,1,8,1,Eastern Michigan,9,0,0,77,1996,Eastern Michigan,64.9,0.431,0.286,0.624,1996
76,5,13,5,8,1,Mississippi State,5,1,1,78,1996,Mississippi State,73.6,0.467,0.340,0.751,1996
77,5,13,5,8,1,Princeton,13,0,0,79,1996,Princeton,71.0,0.462,0.344,0.718,1996
78,11,3,3,8,1,Boston College,11,0,0,80,1996,Boston College,64.8,0.406,0.301,0.664,1996
79,11,3,3,8,1,Georgia Tech,3,1,1,81,1996,Georgia Tech,68.8,0.453,0.304,0.667,1996
80,7,2,2,5,1,Temple,7,0,0,82,1996,Temple,69.7,0.411,0.323,0.692,1996
81,7,2,2,5,1,Cincinnati,2,1,1,83,1996,Cincinnati,73.7,0.449,0.317,0.675,1996
82,1,5,5,4,2,UConn,1,0,1,84,1996,UConn,71.5,0.410,0.326,0.733,1996
83,1,5,5,4,2,Mississippi State,5,1,0,85,1996,Mississippi State,73.6,0.467,0.340,0.751,1996
84,3,2,2,1,1,Georgia Tech,3,0,0,86,1996,Georgia Tech,68.8,0.453,0.304,0.667,1996
85,3,2,2,1,1,Cincinnati,2,1,1,87,1996,Cincinnati,73.7,0.449,0.317,0.675,1996
86,5,2,5,3,2,Mississippi State,5,1,0,88,1996,Mississippi State,73.6,0.467,0.340,0.751,1996
87,5,2,5,3,2,Cincinnati,2,0,1,89,1996,Cincinnati,73.7,0.449,0.317,0.675,1996
88,1,16,1,15,1,Purdue,1,1,1,90,1996,Purdue,68.3,0.424,0.342,0.670,1996
89,1,16,1,15,1,Western Carolina,16,0,0,91,1996,Western Carolina,78.6,0.463,0.369,0.712,1996
90,8,9,8,1,1,Georgia,8,1,1,92,1996,Georgia,75.6,0.448,0.301,0.698,1996
91,8,9,8,1,1,Clemson,9,0,0,93,1996,Clemson,67.1,0.432,0.328,0.679,1996
92,5,12,12,7,2,Memphis,5,0,1,94,1996,Memphis,73.3,0.448,0.336,0.671,1996
93,5,12,12,7,2,Drexel,12,1,0,95,1996,Drexel,69.4,0.445,0.357,0.705,1996
94,4,13,4,9,1,Syracuse,4,1,1,96,1996,Syracuse,74.0,0.435,0.337,0.743,1996
95,4,13,4,9,1,Montana State,13,0,0,97,1996,Montana State,67.3,0.444,0.326,0.750,1996
96,6,11,6,5,1,Iowa,6,1,1,98,1996,Iowa,78.5,0.455,0.351,0.741,1996
97,6,11,6,5,1,George Washington,11,0,0,99,1996,George Washington,67.0,0.425,0.327,0.719,1996
98,3,14,3,11,1,Arizona,3,1,1,100,1996,Arizona,78.1,0.456,0.359,0.732,1996
99,3,14,3,11,1,Valparaiso,14,0,0,101,1996,Valparaiso,72.3,0.438,0.338,0.715,1996
100,7,10,10,3,2,Maryland,7,0,1,102,1996,Maryland,71.7,0.417,0.318,0.744,1996
101,7,10,10,3,2,Santa Clara,10,1,0,103,1996,Santa Clara,76.0,0.467,0.359,0.736,1996
102,2,15,2,13,1,Kansas,2,1,1,104,1996,Kansas,75.0,0.489,0.352,0.663,1996
103,2,15,2,13,1,South Carolina State,15,0,0,105,1996,South Carolina State,70.8,0.438,0.316,0.754,1996
104,1,8,8,7,2,Purdue,1,0,1,106,1996,Purdue,68.3,0.424,0.342,0.670,1996
105,1,8,8,7,2,Georgia,8,1,0,107,1996,Georgia,75.6,0.448,0.301,0.698,1996
106,12,4,4,8,1,Drexel,12,0,0,108,1996,Drexel,69.4,0.445,0.357,0.705,1996
107,12,4,4,8,1,Syracuse,4,1,1,109,1996,Syracuse,74.0,0.435,0.337,0.743,1996
108,6,3,3,3,1,Iowa,6,0,0,110,1996,Iowa,78.5,0.455,0.351,0.741,1996
109,6,3,3,3,1,Arizona,3,1,1,111,1996,Arizona,78.1,0.456,0.359,0.732,1996
110,10,2,2,8,1,Santa Clara,10,0,0,112,1996,Santa Clara,76.0,0.467,0.359,0.736,1996
111,10,2,2,8,1,Kansas,2,1,1,113,1996,Kansas,75.0,0.489,0.352,0.663,1996
112,8,4,4,4,1,Georgia,8,0,0,114,1996,Georgia,75.6,0.448,0.301,0.698,1996
113,8,4,4,4,1,Syracuse,4,1,1,115,1996,Syracuse,74.0,0.435,0.337,0.743,1996
114,3,2,2,1,1,Arizona,3,0,0,116,1996,Arizona,78.1,0.456,0.359,0.732,1996
115,3,2,2,1,1,Kansas,2,1,1,117,1996,Kansas,75.0,0.489,0.352,0.663,1996
116,4,2,4,2,2,Syracuse,4,1,0,118,1996,Syracuse,74.0,0.435,0.337,0.743,1996
117,4,2,4,2,2,Kansas,2,0,1,119,1996,Kansas,75.0,0.489,0.352,0.663,1996
118,1,1,1,0,0,Kentucky,1,9999,9999,120,1996,Kentucky,74.9,0.461,0.327,0.791,1996
119,1,1,1,0,0,UMass,1,9999,9999,121,1996,UMass,68.7,0.426,0.324,0.691,1996
120,5,4,4,1,1,Mississippi State,5,0,0,122,1996,Mississippi State,73.6,0.467,0.340,0.751,1996
121,5,4,4,1,1,Syracuse,4,1,1,123,1996,Syracuse,74.0,0.435,0.337,0.743,1996
122,1,4,1,3,1,Kentucky,1,1,1,124,1996,Kentucky,74.9,0.461,0.327,0.791,1996
123,1,4,1,3,1,Syracuse,4,0,0,125,1996,Syracuse,74.0,0.435,0.337,0.743,1996

In [115]:
for thing in the_values:
    print(thing)
    the_name=list(newdf2[(newdf2['index']==thing)]['name'])[0]
    ESPN_name=ESPN_sports_reference_dict[f"{the_name}"]
    possibly2=add_to_df (ESPN_name, thing,possibly2)

8
20
31
45

# Making dictionary to reference sports reference and ESPN

In [81]:
ESPN_sports_reference_dict = {}

In [82]:
ESPN_sports_reference_dict["Alabama-Birmingham"] = "UAB"

In [83]:
ESPN_sports_reference_dict["ETSU"] = "East Tennessee State"

In [84]:
ESPN_sports_reference_dict["UNC"] = "North Carolina"

In [85]:
ESPN_sports_reference_dict["St. Joseph's"] = "Saint Joseph's"

In [86]:
ESPN_sports_reference_dict["Pitt"] = "Pittsburgh"

In [87]:
ESPN_sports_reference_dict["UC-Irvine"] = "UC Irvine"

In [88]:
ESPN_sports_reference_dict["Cal State Fullerton"] = "CSU Fullerton"

In [89]:
ESPN_sports_reference_dict["College of Charleston"] = "Charleston"

In [90]:
ESPN_sports_reference_dict["Miami (FL)"] = "Miami"

In [91]:
ESPN_sports_reference_dict["Loyola (IL)"] = "Loyola Chicago"

In [92]:
ESPN_sports_reference_dict["Penn"] = "Pennsylvania"

In [93]:
ESPN_sports_reference_dict["Mount St. Mary's"] = "Mt. St. Mary's"

In [94]:
ESPN_sports_reference_dict["ETSU"] = "East Tennessee State"

In [95]:
ESPN_sports_reference_dict["UC-Davis"] = "UC Davis"

In [96]:
ESPN_sports_reference_dict["Hawaii"] = "Hawai'i"

In [97]:
ESPN_sports_reference_dict["Cal State Bakersfield"] = "CSU Bakersfield"

In [98]:
ESPN_sports_reference_dict["Albany (NY)"] = "Albany"

In [99]:
ESPN_sports_reference_dict["St. John's (NY)"] = "St. John's"

In [100]:
ESPN_sports_reference_dict["Alabama-Birmingham"] = "UAB"

In [101]:
ESPN_sports_reference_dict["Detroit"] = "Detroit Mercy"

In [102]:
ESPN_sports_reference_dict["UCSB"] = "UC Santa Barbara"

In [103]:
ESPN_sports_reference_dict["St. Peter's"] = "Saint Peter's"

In [104]:
ESPN_sports_reference_dict["Cal State Northridge"] = "CSU Northridge"

In [105]:
ESPN_sports_reference_dict["Cal State Fullerton"] = "CSU Fullerton"

In [106]:
ESPN_sports_reference_dict["Texas-Arlington"] = "UT Arlington"

In [107]:
ESPN_sports_reference_dict["Texas A&M-Corpus Christi"] = "Texas A&M-CC"

In [108]:
ESPN_sports_reference_dict["Southeastern Louisiana"] = "SE Louisiana"

In [109]:
ESPN_sports_reference_dict["McNeese State"] = "McNeese"

In [110]:
ESPN_sports_reference_dict["Prairie View"] = "Prairie View A&M"

In [111]:
ESPN_sports_reference_dict["Nicholls State"] = "Nicholls"

In [112]:
ESPN_sports_reference_dict["San Jose State"] = "San Jos St"

In [113]:
ESPN_sports_reference_dict["Louisiana-Monroe"] = "UL Monroe"

In [114]:
ESPN_sports_reference_dict["Saint Francis (PA)"] = "St. Francis (PA)"

# Putting stuff into MySQl so I can use the LIKE operator and merge dataframes

In [193]:
import mysql.connector
import stuff
cnx = mysql.connector.connect(
    host = stuff.host,
    user = stuff.user,
    passwd = stuff.password)

In [194]:
cursor = cnx.cursor()

In [140]:
#insert_stm = """CREATE DATABASE march_madness;"""
#cursor.execute(insert_stm)
#cnx.commit()

In [195]:
cnx.database = 'march_madness'

In [142]:
df1.head()

                     name   PTS  FG_perc  _3p_perc  FT_perc
0                     VMI  87.9    0.449     0.359    0.709
1                 Oakland  85.6    0.494     0.379    0.720
2              Washington  83.5    0.471     0.371    0.667
3  Long Island University  82.6    0.466     0.366    0.645
4                  Kansas  82.4    0.514     0.387    0.681

In [172]:
create_table = """
CREATE TABLE ESPN
(name VARCHAR(225),
PTS FLOAT,
FG_perc FLOAT,
_3p_perc FLOAT,
FT_perc FLOAT);
"""

In [173]:
cursor.execute(create_table)

In [160]:
all_data = []
i=0
for thing in (list(df1['name'])):
    new_tuple = ((list(df1['name']))[i], (list(df1['PTS']))[i], (list(df1['FG_perc']))[i], (list(df1['_3p_perc']))[i],
                 (list(df1['FT_perc']))[i])
    all_data.append(new_tuple)
    i+=1

In [174]:

insert_stm = """INSERT INTO ESPN (name, PTS, FG_perc, _3p_perc, FT_perc) 
VALUES (%s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [202]:
create_table = """
CREATE TABLE sports_reference
(first_team INT,
second_team INT,
winner INT,
point_difference INT,
result INT,
name VARCHAR(225),
team_rank INT,
win INT,
relative_seed INT,
index_made INT);
"""

In [203]:
cursor.execute(create_table)

In [204]:
newdf2.head(1)

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index
0,1,16,1,15,1,Ohio State,1,1,1,0

In [208]:
all_data = []
i=0
for thing in (list(newdf2['name'])):
    new_tuple = ((list(newdf2['first_team']))[i], (list(newdf2['second_team']))[i], (list(newdf2['winner']))[i],
                 (list(newdf2['point_difference']))[i], (list(newdf2['result']))[i], (list(newdf2['name']))[i], (list(newdf2['team_rank']))[i],
                 (list(newdf2['win']))[i], (list(newdf2['higher_or_lower_seed']))[i], (list(newdf2['index']))[i]
                )
    all_data.append(new_tuple)
    i+=1

In [209]:
all_data[0]

(1, 16, 1, 15, 1, 'Ohio State', 1, 1, 1, 0)

In [210]:
insert_stm = """INSERT INTO sports_reference (first_team,
second_team,
winner,
point_difference,
result,
name,
team_rank,
win,
relative_seed,
index_made) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [211]:
list(df1['name'])

  name   PTS  FG_perc  _3p_perc  FT_perc
0  VMI  87.9    0.449     0.359    0.709

In [212]:
df1_sorted = df1.sort_values(by ='name' )

In [216]:
df1_sorted[df1_sorted(['name']='ohio')]

SyntaxError: keyword can't be an expression (<ipython-input-216-a288dbd8a224>, line 1)

# testing stuff

In [272]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18], 'index_made':[0,1,2,3]}

In [274]:
data1 = pd.DataFrame(data)

In [275]:
data1

    Name  Age  index_made
0    Tom   20           0
1   nick   21           1
2  krish   19           2
3   jack   18           3

In [285]:
dat = {'Name':['Tomas', 'nickolas', 'krishas', 'jack'], 'p3':[30,40,50,60], 'ft':[8,7,3,2]}

In [286]:
data2 = pd.DataFrame(dat)

In [287]:
data2

       Name  p3  ft
0     Tomas  30   8
1  nickolas  40   7
2   krishas  50   3
3      jack  60   2

In [288]:
ugh=pd.merge(data1,data2,how='inner',on='Name')

In [289]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2

In [292]:
maybe=data2[(data2['Name']=='Tomas')]
maybe

    Name  p3  ft
0  Tomas  30   8

In [293]:
maybe2=data1[(data1['Name']=='Tom')]
maybe2

  Name  Age  index_made
0  Tom   20           0

In [300]:
dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}

In [305]:
ugh=ugh.append(dict, ignore_index=True)

In [306]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2
1   Tom   20           0  30   8

In [299]:
list(maybe2['Name'])[0]

'Tom'

In [ ]:
def add_to_df (name1, name2):
    maybe=data2[(data2['Name']==f'{name1}')]
    maybe2=data1[(data1['Name']==f'{name2}')]
    dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}
    ugh=ugh.append(dict, ignore_index=True)