In [18]:
import requests
from bs4 import BeautifulSoup as BS
import pandas as pd
import time
import matplotlib.pyplot as plt
import numpy as np

# getting info from sports reference

In [45]:
def get_winners (link):
    print (link)
    page = requests.get(link)
    #print('here')
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=0
    k=0
    winners=[]
    for thing in list(range(1,100)):
        if k == 22:
            break
        elif k == 0 or k== 1 or k==2 or k==3 or k==5 or k==6 or k==7 or k==8 or k==10 or k==11 or k==12 or k==13 or k==15 or k==16 or k==17 or k==18 or k==20 or k==21:
            try:
                winners.append(idk[k].select('div')[i].select('div[class="winner"]')[0].select('span')[0].string)
                i+=3
            except:
                i=0
                k+=1
                continue
        else:
            i=0
            k+=1
            continue
    winners_int=[]
    for thing in winners:
        winners_int.append(int(thing))
    return winners_int

In [46]:
#function for getting the teams
#gets the teams that played each other all together
def get_teams (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    i=1
    maybe = []
    for thing in list(range(1,100)):
        if i%3 !=0:
            try:
                maybe.append(idk[k].select('div')[i].select('span')[0].string)
                i+=1
            except:
                i+=1
                continue
        else:
            i+=1
            continue
    return maybe

In [47]:
#uses the function to split up the teams that played each other into 2 separate lists
def split_up_teams (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    first_team = All_teams[0::2]
    second_team = All_teams[1::2]
    first_team_int = []
    for thing in first_team:
        first_team_int.append(int(thing))
    second_team_int = []
    for thing in second_team:
        second_team_int.append(int(thing))
    first_team_pd = pd.DataFrame(first_team_int)
    second_team_pd = pd.DataFrame(second_team_int)
    point_difference = first_team_pd-second_team_pd
    point_difference_list=point_difference.values.tolist()
    point_diff_abs = []
    for thing in point_difference_list:
        point_diff_abs.append(abs(thing[0]))
    return first_team_int,second_team_int,point_diff_abs

In [48]:
def get_team_names (link,k):
    page = requests.get(link)
    soup = BS(page.content, 'html.parser')
    idk=soup.select('div[class="round"]')
    maybe = []
    for thing in list(range(0,100)):
        try:
            maybe.append(idk[k].select('a[href^=/cbb/schools]')[thing].string)
        except:
            continue
    return maybe

In [49]:
def get_teams_get (link):
    team_names = []
    for thing in list(range(0,23)):
        new=get_team_names (link,thing)
        team_names.extend(new)
    team_names.pop(-1)
    team_names.pop(30)
    team_names.pop(60)
    team_names.pop(90)
    team_names.pop(120)
    return team_names

In [50]:
def split_up_teams_2 (link):
    All_teams = []
    for thing in list(range(0,23)):
        new=get_teams (link,thing)
        All_teams.extend(new)
    All_teams.pop(-1)
    All_teams.pop(30)
    All_teams.pop(60)
    All_teams.pop(90)
    All_teams.pop(120)
    return All_teams

In [51]:
#add in the year
#make the 9999

In [52]:
def everything (link):
    first_team_int = []
    second_team_int = []
    point_diff_abs = []
    winners_int = []

    winners=get_winners (link)
    three_lists=split_up_teams (link)
    first_team_int.extend(three_lists[0])
    second_team_int.extend(three_lists[1])
    point_diff_abs.extend(three_lists[2])
    winners_int.extend(winners)
    #time.sleep(3)
    #print(len(first_team_int), len(second_team_int),len(point_diff_abs), len(winners_int))
    df = pd.DataFrame({"first_team": first_team_int, "second_team": second_team_int,
                       "winner" : winners_int, "point_difference": point_diff_abs})
    result = []
    i = 0
    for thing in list(df['winner']):
        #print(f'this is {i}')
        if list(df['first_team'])[i] > list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
            #print(f'this is if1')
            result.append(2)
        elif list(df['second_team'])[i] > list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif1')
            result.append(2)
        elif list(df['first_team'])[i] < list(df['second_team'])[i] and list(df['first_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif2')
            result.append(1)
        elif list(df['second_team'])[i] < list(df['first_team'])[i] and list(df['second_team'])[i] == list(df['winner'])[i]:
            #print(f'this is elif3')
            result.append(1)
        else:
            result.append(0)
        i+=1
    df['result']=result
    newdf2 = pd.DataFrame(np.repeat(df.values,2,axis=0))
    newdf2.columns = df.columns
    team_names=get_teams_get (link)
    All_teams=split_up_teams_2(link)
    rankings= []
    for thing in All_teams:
        #print(thing)
        rankings.append(int(thing))
    newdf2['team_name'] = team_names
    newdf2['team_rank'] = rankings
    win = []
    i = 0
    for thing in list(newdf2['team_rank']):
        if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
            win.append(9999)
        elif list(newdf2['team_rank'])[i] == list(newdf2['winner'])[i]:
            win.append(1)
        elif list(newdf2['team_rank'])[i] != list(newdf2['winner'])[i]:
            win.append(0)
        i+=1
    newdf2['win']=win
    #if the team has a lower seed number, it is given '1', higher seed number '0'
    higher_or_lower_seed = []
    i = 0
    for thing in list(newdf2['team_rank']):
        if list(newdf2['first_team'])[i] == list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(9999)
        elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] < list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(1)
        elif list(newdf2['team_rank'])[i] == list(newdf2['first_team'])[i] and list(newdf2['first_team'])[i] > list(newdf2['second_team'])[i]:
            higher_or_lower_seed.append(0)
        elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] < list(newdf2['first_team'])[i]:
            higher_or_lower_seed.append(1)
        elif list(newdf2['team_rank'])[i] == list(newdf2['second_team'])[i] and list(newdf2['second_team'])[i] > list(newdf2['first_team'])[i]:
            higher_or_lower_seed.append(0)
        i+=1
    newdf2['higher_or_lower_seed']=higher_or_lower_seed
    #newdf2.to_csv(f'{link}')
    newdf2.rename(columns = {'team_name':'name'}, inplace = True)
    newdf2['index']=list(range(0,126))
    return newdf2

In [1170]:
newdf2=everything ('https://www.sports-reference.com/cbb/postseason/2018-ncaa.html')

https://www.sports-reference.com/cbb/postseason/2018-ncaa.html

In [1171]:
year = []
for thing in newdf2['first_team']:
    year.append(2018)

In [1172]:
newdf2['year']=year

In [206]:
newdf2.to_csv('sports_reference_2019')

# getting infor from ESPN

In [159]:
def get_score_info (links):
    names = []
    PTS = []
    FG_perc = []
    _3p_perc = []
    FT_perc = []
    for link in links:
        print(link)
        page = requests.get(link)
        soup = BS(page.content, 'html.parser')
        idk=soup.select('tr[class^="oddrow"]')
        idk2=soup.select('tr[class^="evenrow"]')
        i = 0
        if len(idk)>len(idk2):
            for thing in idk:
                try:    
                    names.append(thing.select('td')[1].string)
                    PTS.append(float(thing.select('td')[3].string))
                    FG_perc.append(float(thing.select('td')[5].string))
                    _3p_perc.append(float(thing.select('td')[7].string))
                    FT_perc.append(float(thing.select('td')[9].string))
                    
                    names.append(idk2[i].select('td')[1].string)
                    PTS.append(float(idk2[i].select('td')[3].string))
                    FG_perc.append(float(idk2[i].select('td')[5].string))
                    _3p_perc.append(float(idk2[i].select('td')[7].string))
                    FT_perc.append(float(idk2[i].select('td')[9].string))
                    i+=1
                except:
                    continue
                    i+=1
        else:
            for thing in idk2:
                try:    
                    names.append(thing.select('td')[1].string)
                    PTS.append(float(thing.select('td')[3].string))
                    FG_perc.append(float(thing.select('td')[5].string))
                    _3p_perc.append(float(thing.select('td')[7].string))
                    FT_perc.append(float(thing.select('td')[9].string))
                    
                    names.append(idk[i].select('td')[1].string)
                    PTS.append(float(idk[i].select('td')[3].string))
                    FG_perc.append(float(idk[i].select('td')[5].string))
                    _3p_perc.append(float(idk[i].select('td')[7].string))
                    FT_perc.append(float(idk[i].select('td')[9].string))
                    i+=1
                except:
                    continue
                    i+=1
            
            


            
    return names, PTS, FG_perc, _3p_perc, FT_perc

In [1173]:
list_years = []
i = 2018
for num in range(0,1):
    list_years.append(str(i))
    i+=1

In [1174]:
links = []
for thing in list_years:
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing)
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/41')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/81')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/121')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/161')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/201')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/241')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/281')
    links.append('http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/'+thing+'/count/321')

In [1175]:
names, PTS, FG_perc, _3p_perc, FT_perc = get_score_info (links)

http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/41
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/81
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/121
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/161
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/201
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/241
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/281
http://www.espn.com/mens-college-basketball/statistics/team/_/stat/scoring-per-game/sort/avgPoints/year/2018/count/321

In [1176]:
D = {'Name':names, 'PTS':PTS, 'FG_perc':FG_perc, '_3p_perc':_3p_perc, 'FT_perc':FT_perc}

In [1177]:
df2 = pd.DataFrame(data=D)

In [1178]:
year = []
for thing in df2['Name']:
    year.append(2018)

In [1179]:
df2['year']=year

In [255]:
df2.to_csv('ESPN_2019')

# Merging espn and sports reference

In [1180]:
possibly2 = pd.merge(newdf2,df2, left_on = 'name', right_on = 'Name')

In [1181]:
possibly2 = possibly2.sort_values(by ='index' )

In [770]:
possibly2 = possibly2.sort_values(by ='index' )
possibly2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year_x,Name,PTS,FG_perc,_3p_perc,FT_perc,year_y
0,1,16,1,15,1,Maryland,1,1,1,0,2002,Maryland,85.3,0.483,0.370,0.710,2002
6,1,16,1,15,1,Siena,16,0,0,1,2002,Siena,69.6,0.415,0.347,0.742,2002
7,8,9,8,1,1,Wisconsin,8,1,1,2,2002,Wisconsin,66.9,0.438,0.352,0.719,2002
9,5,12,12,7,2,Marquette,5,0,1,4,2002,Marquette,73.3,0.474,0.381,0.692,2002
10,5,12,12,7,2,Tulsa,12,1,0,5,2002,Tulsa,80.4,0.477,0.406,0.751,2002
12,4,13,4,9,1,Kentucky,4,1,1,6,2002,Kentucky,76.6,0.448,0.309,0.670,2002
15,4,13,4,9,1,Valparaiso,13,0,0,7,2002,Valparaiso,78.0,0.451,0.350,0.665,2002
16,6,11,11,5,2,Texas Tech,6,0,1,8,2002,Texas Tech,79.5,0.468,0.378,0.684,2002
17,6,11,11,5,2,Southern Illinois,11,1,0,9,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
20,3,14,3,11,1,Georgia,3,1,1,10,2002,Georgia,76.1,0.447,0.315,0.734,2002
22,3,14,3,11,1,Murray State,14,0,0,11,2002,Murray State,78.9,0.452,0.319,0.727,2002
23,7,10,7,3,1,NC State,7,1,1,12,2002,NC State,75.7,0.454,0.359,0.750,2002
25,7,10,7,3,1,Michigan State,10,0,0,13,2002,Michigan State,69.7,0.467,0.398,0.764,2002
26,2,15,2,13,1,UConn,2,1,1,14,2002,UConn,77.9,0.481,0.385,0.691,2002
30,2,15,2,13,1,Hampton,15,0,0,15,2002,Hampton,79.9,0.486,0.352,0.669,2002
1,1,8,1,7,1,Maryland,1,1,1,16,2002,Maryland,85.3,0.483,0.370,0.710,2002
8,1,8,1,7,1,Wisconsin,8,0,0,17,2002,Wisconsin,66.9,0.438,0.352,0.719,2002
11,12,4,4,8,1,Tulsa,12,0,0,18,2002,Tulsa,80.4,0.477,0.406,0.751,2002
13,12,4,4,8,1,Kentucky,4,1,1,19,2002,Kentucky,76.6,0.448,0.309,0.670,2002
18,11,3,11,8,2,Southern Illinois,11,1,0,20,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
21,11,3,11,8,2,Georgia,3,0,1,21,2002,Georgia,76.1,0.447,0.315,0.734,2002
24,7,2,2,5,1,NC State,7,0,0,22,2002,NC State,75.7,0.454,0.359,0.750,2002
27,7,2,2,5,1,UConn,2,1,1,23,2002,UConn,77.9,0.481,0.385,0.691,2002
2,1,4,1,3,1,Maryland,1,1,1,24,2002,Maryland,85.3,0.483,0.370,0.710,2002
14,1,4,1,3,1,Kentucky,4,0,0,25,2002,Kentucky,76.6,0.448,0.309,0.670,2002
19,11,2,2,9,1,Southern Illinois,11,0,0,26,2002,Southern Illinois,75.9,0.463,0.372,0.621,2002
28,11,2,2,9,1,UConn,2,1,1,27,2002,UConn,77.9,0.481,0.385,0.691,2002
3,1,2,1,1,1,Maryland,1,1,1,28,2002,Maryland,85.3,0.483,0.370,0.710,2002
29,1,2,1,1,1,UConn,2,0,0,29,2002,UConn,77.9,0.481,0.385,0.691,2002
31,1,16,1,15,1,Kansas,1,1,1,30,2002,Kansas,92.0,0.511,0.422,0.718,2002
36,1,16,1,15,1,Holy Cross,16,0,0,31,2002,Holy Cross,63.3,0.409,0.340,0.693,2002
37,8,9,8,1,1,Stanford,8,1,1,32,2002,Stanford,81.2,0.453,0.347,0.701,2002
39,8,9,8,1,1,Western Kentucky,9,0,0,33,2002,Western Kentucky,78.2,0.469,0.380,0.705,2002
40,5,12,12,7,2,Florida,5,0,1,34,2002,Florida,80.4,0.472,0.352,0.698,2002
41,5,12,12,7,2,Creighton,12,1,0,35,2002,Creighton,75.9,0.468,0.367,0.730,2002
43,4,13,4,9,1,Illinois,4,1,1,36,2002,Illinois,77.3,0.467,0.356,0.746,2002
46,4,13,4,9,1,San Diego State,13,0,0,37,2002,San Diego State,74.7,0.479,0.358,0.659,2002
47,6,11,6,5,1,Texas,6,1,1,38,2002,Texas,79.0,0.453,0.370,0.682,2002
50,6,11,6,5,1,Boston College,11,0,0,39,2002,Boston College,74.1,0.421,0.339,0.695,2002
51,3,14,3,11,1,Mississippi State,3,1,1,40,2002,Mississippi State,74.2,0.480,0.352,0.650,2002
53,7,10,7,3,1,Wake Forest,7,1,1,42,2002,Wake Forest,81.8,0.476,0.356,0.738,2002
55,7,10,7,3,1,Pepperdine,10,0,0,43,2002,Pepperdine,81.5,0.456,0.367,0.715,2002
56,2,15,2,13,1,Oregon,2,1,1,44,2002,Oregon,85.9,0.489,0.424,0.775,2002
60,2,15,2,13,1,Montana,15,0,0,45,2002,Montana,71.9,0.455,0.360,0.673,2002
32,1,8,1,7,1,Kansas,1,1,1,46,2002,Kansas,92.0,0.511,0.422,0.718,2002
38,1,8,1,7,1,Stanford,8,0,0,47,2002,Stanford,81.2,0.453,0.347,0.701,2002
42,12,4,4,8,1,Creighton,12,0,0,48,2002,Creighton,75.9,0.468,0.367,0.730,2002
44,12,4,4,8,1,Illinois,4,1,1,49,2002,Illinois,77.3,0.467,0.356,0.746,2002
48,6,3,6,3,2,Texas,6,1,0,50,2002,Texas,79.0,0.453,0.370,0.682,2002
52,6,3,6,3,2,Mississippi State,3,0,1,51,2002,Mississippi State,74.2,0.480,0.352,0.650,2002
54,7,2,2,5,1,Wake Forest,7,0,0,52,2002,Wake Forest,81.8,0.476,0.356,0.738,2002
57,7,2,2,5,1,Oregon,2,1,1,53,2002,Oregon,85.9,0.489,0.424,0.775,2002
33,1,4,1,3,1,Kansas,1,1,1,54,2002,Kansas,92.0,0.511,0.422,0.718,2002
45,1,4,1,3,1,Illinois,4,0,0,55,2002,Illinois,77.3,0.467,0.356,0.746,2002
49,6,2,2,4,1,Texas,6,0,0,56,2002,Texas,79.0,0.453,0.370,0.682,2002
58,6,2,2,4,1,Oregon,2,1,1,57,2002,Oregon,85.9,0.489,0.424,0.775,2002
34,1,2,1,1,1,Kansas,1,1,1,58,2002,Kansas,92.0,0.511,0.422,0.718,2002
59,1,2,1,1,1,Oregon,2,0,0,59,2002,Oregon,85.9,0.489,0.424,0.775,2002
61,1,16,1,15,1,Duke,1,1,1,60,2002,Duke,89.7,0.498,0.359,0.689,2002
64,1,16,1,15,1,Winthrop,16,0,0,61,2002,Winthrop,68.5,0.423,0.314,0.656,2002
65,8,9,8,1,1,Notre Dame,8,1,1,62,2002,Notre Dame,78.8,0.460,0.379,0.702,2002
67,8,9,8,1,1,Charlotte,9,0,0,63,2002,Charlotte,73.9,0.444,0.369,0.705,2002
68,5,12,5,7,1,Indiana,5,1,1,64,2002,Indiana,70.2,0.452,0.394,0.709,2002
74,5,12,5,7,1,Utah,12,0,0,65,2002,Utah,67.7,0.470,0.403,0.678,2002
75,4,13,13,9,2,USC,4,0,1,66,2002,USC,77.6,0.441,0.345,0.696,2002
76,4,13,13,9,2,UNC Wilmington,13,1,0,67,2002,UNC Wilmington,67.1,0.434,0.377,0.680,2002
78,6,11,6,5,1,California,6,1,1,68,2002,California,72.6,0.454,0.317,0.675,2002
80,3,14,3,11,1,Central Connecticut,14,0,0,71,2002,Central Connecticut,71.8,0.458,0.346,0.735,2002
81,7,10,10,3,2,Oklahoma State,7,0,1,72,2002,Oklahoma State,72.0,0.450,0.330,0.639,2002
82,7,10,10,3,2,Kent State,10,1,0,73,2002,Kent State,76.4,0.473,0.371,0.726,2002
86,2,15,2,13,1,Alabama,2,1,1,74,2002,Alabama,76.2,0.439,0.309,0.729,2002
88,2,15,2,13,1,Florida Atlantic,15,0,0,75,2002,Florida Atlantic,74.2,0.427,0.339,0.660,2002
62,1,8,1,7,1,Duke,1,1,1,76,2002,Duke,89.7,0.498,0.359,0.689,2002
66,1,8,1,7,1,Notre Dame,8,0,0,77,2002,Notre Dame,78.8,0.460,0.379,0.702,2002
69,5,13,5,8,1,Indiana,5,1,1,78,2002,Indiana,70.2,0.452,0.394,0.709,2002
77,5,13,5,8,1,UNC Wilmington,13,0,0,79,2002,UNC Wilmington,67.1,0.434,0.377,0.680,2002
79,6,3,3,3,1,California,6,0,0,80,2002,California,72.6,0.454,0.317,0.675,2002
83,10,2,10,8,2,Kent State,10,1,0,82,2002,Kent State,76.4,0.473,0.371,0.726,2002
87,10,2,10,8,2,Alabama,2,0,1,83,2002,Alabama,76.2,0.439,0.309,0.729,2002
63,1,5,5,4,2,Duke,1,0,1,84,2002,Duke,89.7,0.498,0.359,0.689,2002
70,1,5,5,4,2,Indiana,5,1,0,85,2002,Indiana,70.2,0.452,0.394,0.709,2002
84,3,10,10,7,2,Kent State,10,1,0,87,2002,Kent State,76.4,0.473,0.371,0.726,2002
71,5,10,5,5,1,Indiana,5,1,1,88,2002,Indiana,70.2,0.452,0.394,0.709,2002
85,5,10,5,5,1,Kent State,10,0,0,89,2002,Kent State,76.4,0.473,0.371,0.726,2002
89,1,16,1,15,1,Cincinnati,1,1,1,90,2002,Cincinnati,77.2,0.466,0.359,0.707,2002
91,1,16,1,15,1,Boston University,16,0,0,91,2002,Boston University,67.6,0.429,0.365,0.684,2002
92,8,9,8,1,1,UCLA,8,1,1,92,2002,UCLA,73.9,0.475,0.406,0.682,2002
95,8,9,8,1,1,Ole Miss,9,0,0,93,2002,Ole Miss,72.5,0.465,0.386,0.738,2002
96,5,12,12,7,2,Missouri,12,1,0,95,2002,Missouri,79.5,0.458,0.391,0.693,2002
100,4,13,4,9,1,Ohio State,4,1,1,96,2002,Ohio State,74.2,0.490,0.386,0.674,2002
102,4,13,4,9,1,Davidson,13,0,0,97,2002,Davidson,70.9,0.435,0.355,0.685,2002
103,6,11,11,5,2,Gonzaga,6,0,1,98,2002,Gonzaga,81.6,0.478,0.397,0.731,2002
104,6,11,11,5,2,Wyoming,11,1,0,99,2002,Wyoming,75.6,0.456,0.301,0.698,2002
106,3,14,3,11,1,Arizona,3,1,1,100,2002,Arizona,83.0,0.462,0.380,0.730,2002
109,7,10,7,3,1,Xavier,7,1,1,102,2002,Xavier,72.7,0.451,0.358,0.718,2002
111,2,15,2,13,1,Oklahoma,2,1,1,104,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
116,2,15,2,13,1,UIC,15,0,0,105,2002,UIC,73.9,0.445,0.412,0.653,2002
90,1,8,8,7,2,Cincinnati,1,0,1,106,2002,Cincinnati,77.2,0.466,0.359,0.707,2002
93,1,8,8,7,2,UCLA,8,1,0,107,2002,UCLA,73.9,0.475,0.406,0.682,2002
97,12,4,12,8,2,Missouri,12,1,0,108,2002,Missouri,79.5,0.458,0.391,0.693,2002
101,12,4,12,8,2,Ohio State,4,0,1,109,2002,Ohio State,74.2,0.490,0.386,0.674,2002
105,11,3,3,8,1,Wyoming,11,0,0,110,2002,Wyoming,75.6,0.456,0.301,0.698,2002
107,11,3,3,8,1,Arizona,3,1,1,111,2002,Arizona,83.0,0.462,0.380,0.730,2002
110,7,2,2,5,1,Xavier,7,0,0,112,2002,Xavier,72.7,0.451,0.358,0.718,2002
112,7,2,2,5,1,Oklahoma,2,1,1,113,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
94,8,12,12,4,2,UCLA,8,0,1,114,2002,UCLA,73.9,0.475,0.406,0.682,2002
98,8,12,12,4,2,Missouri,12,1,0,115,2002,Missouri,79.5,0.458,0.391,0.693,2002
108,3,2,2,1,1,Arizona,3,0,0,116,2002,Arizona,83.0,0.462,0.380,0.730,2002
113,3,2,2,1,1,Oklahoma,2,1,1,117,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
99,12,2,2,10,1,Missouri,12,0,0,118,2002,Missouri,79.5,0.458,0.391,0.693,2002
114,12,2,2,10,1,Oklahoma,2,1,1,119,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
4,1,1,1,0,0,Maryland,1,9999,9999,120,2002,Maryland,85.3,0.483,0.370,0.710,2002
35,1,1,1,0,0,Kansas,1,9999,9999,121,2002,Kansas,92.0,0.511,0.422,0.718,2002
115,2,5,5,3,2,Oklahoma,2,0,1,122,2002,Oklahoma,78.2,0.447,0.359,0.760,2002
72,2,5,5,3,2,Indiana,5,1,0,123,2002,Indiana,70.2,0.452,0.394,0.709,2002
5,1,5,1,4,1,Maryland,1,1,1,124,2002,Maryland,85.3,0.483,0.370,0.710,2002
73,1,5,1,4,1,Indiana,5,0,0,125,2002,Indiana,70.2,0.452,0.394,0.709,2002

In [704]:
def find_missing_values (blah):
    the_values = []
    for thing in list(range(0,126)):
        if thing in blah:
            continue
        else:
            print(thing)
            the_values.append(thing)
    return the_values

In [1182]:
the_values=find_missing_values (list(possibly2['index']))

15
31
37
74
83
98
99
110
116
119
122

In [1183]:
newdf2[(newdf2['index']==15)]

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year
15,2,15,2,13,1,Cal State Fullerton,15,0,0,15,2018

In [918]:
pd.set_option('display.max_rows', 400)
df2.Name

0                       Alabama
1                       Gonzaga
2                  Wright State
3                          Duke
4            Eastern Washington
5                     Green Bay
6                           LSU
7                       Belmont
8                        Dayton
9            California Baptist
10                     Winthrop
11                          BYU
12             Central Michigan
13            Stephen F. Austin
14                 Oral Roberts
15                 South Dakota
16            Sam Houston State
17              Houston Baptist
18                      Buffalo
19                      McNeese
20             Western Carolina
21                       Auburn
22                         Iowa
23                Georgia State
24                   New Mexico
25                         UTSA
26           South Dakota State
27                      Arizona
28                    Creighton
29             St. Francis (PA)
30             Coastal Carolina
31               Portland State
32                      Hampton
33                North Florida
34                       Nevada
35                  Austin Peay
36                    Marquette
37        Florida International
38                  Boise State
39                         Yale
40                      Hofstra
41       Long Island University
42         East Tennessee State
43                       Furman
44                   Utah State
45                   Penn State
46                   Pepperdine
47             Eastern Kentucky
48                Northern Iowa
49                        Akron
50                  The Citadel
51                   Kent State
52            Abilene Christian
53                  Santa Clara
54                     Nicholls
55                 Saint Mary's
56               Colorado State
57                   Georgetown
58                 Alcorn State
59                 North Dakota
60                  New Orleans
61                UNC Asheville
62                      Georgia
63                 Murray State
64               Michigan State
65             Western Kentucky
66                     Michigan
67                       Oregon
68                Florida State
69              San Diego State
70                   Louisville
71                    UT Martin
72                      Colgate
73               CSU Northridge
74             Eastern Illinois
75                   St. John's
76             Western Illinois
77             Georgia Southern
78                          SMU
79                       Kansas
80             Central Arkansas
81                Bowling Green
82              Bethune-Cookman
83                     Kentucky
84               UNC Greensboro
85                       Toledo
86                 Rhode Island
87                San Francisco
88                     Richmond
89                      Seattle
90                     Marshall
91                   Notre Dame
92                     Delaware
93                 UMass Lowell
94                     NC State
95                   Seton Hall
96                  Loyola (MD)
97               Louisiana Tech
98            Northern Colorado
99                        Omaha
100                   UC Irvine
101          North Dakota State
102                    Syracuse
103                    Arkansas
104                   Air Force
105                   Villanova
106                  Texas Tech
107                        Rice
108               Arizona State
109                  Cincinnati
110                     Samford
111           Mississippi State
112                Sacred Heart
113          Northwestern State
114                     Memphis
115                    UC Davis
116                    Davidson
117                     Harvard
118                       Miami
119                     Wofford
120                  Iowa State
121                Pennsylvania
122                 Texas State
123                 Chattanooga
124               Southern Utah
125               Youngstown St
126        UT Rio Grande Valley
127                     Houston
128                      Mercer
129                       Siena
130                     Indiana
131           Northern Kentucky
132            Northern Arizona
133                    Illinois
134               James Madison
135               Wichita State
136          Jacksonville State
137                      DePaul
138                 Little Rock
139             Tennessee State
140                  Valparaiso
141                       Rider
142                   Grambling
143                     Florida
144              Texas Southern
145                   Milwaukee
146           Boston University
147            UC Santa Barbara
148                Gardner-Webb
149                     Radford
150                         VMI
151              Delaware State
152                  Vanderbilt
153                Oregon State
154                   Louisiana
155              South Carolina
156                     Bradley
157                    Maryland
158         Fairleigh Dickinson
159                        UNLV
160            Middle Tennessee
161                  Ohio State
162                    American
163                 Saint Louis
164                       Lamar
165                 North Texas
166                 Wake Forest
167                         USC
168            New Mexico State
169                    Colorado
170                       UConn
171               South Alabama
172                Northeastern
173                        Army
174                         VCU
175              William & Mary
176                    Nebraska
177                     Montana
178                Grand Canyon
179                   Lafayette
180                 Utah Valley
181                   Princeton
182          North Carolina A&T
183                  Miami (OH)
184                      Baylor
185            Prairie View A&M
186        South Carolina State
187                    Duquesne
188                      Bryant
189                  Providence
190                    Oklahoma
191                        Ohio
192               Virginia Tech
193                    Lipscomb
194                        Utah
195               West Virginia
196                 San José St
197              North Carolina
198                      Xavier
199                 Stony Brook
200                      Towson
201              Arkansas State
202                    Monmouth
203                     Pacific
204                       IUPUI
205                     Vermont
206            Florida Atlantic
207                       Drake
208                Morgan State
209               Norfolk State
210                    Stanford
211                UT Arlington
212                        UCLA
213           St. Francis (BKN)
214                      Howard
215                  Washington
216                     Rutgers
217                  Charleston
218                      Temple
219                        UMKC
220            Washington State
221                    Ole Miss
222                      Denver
223                 Weber State
224                        Iona
225                      Drexel
226                Fresno State
227              Missouri State
228                   Minnesota
229                  Quinnipiac
230              Morehead State
231               Detroit Mercy
232         Charleston Southern
233                  Binghamton
234           Purdue Fort Wayne
235                        Troy
236                     Hawai'i
237               Robert Morris
238                    Canisius
239             St. Bonaventure
240                  Ball State
241                         UCF
242                       Tulsa
243                        Elon
244                Georgia Tech
245               Indiana State
246              Loyola Chicago
247                      Butler
248             CSU Bakersfield
249                       UMass
250              UNC Wilmington
251                    Southern
252              Saint Joseph's
253               New Hampshire
254                      Wagner
255               East Carolina
256               CSU Fullerton
257                      Tulane
258                    Campbell
259                 Idaho State
260                      Purdue
261                    La Salle
262                     Liberty
263           Appalachian State
264                SE Louisiana
265                        UMBC
266                  Evansville
267               North Alabama
268                    Bucknell
269                   Charlotte
270                Coppin State
271      South Carolina Upstate
272                    Longwood
273                      Lehigh
274                       Brown
275                         UIC
276                 Florida A&M
277    Mississippi Valley State
278                    Missouri
279                Presbyterian
280               Montana State
281      North Carolina Central
282                     Clemson
283                George Mason
284           George Washington
285                    Cal Poly
286                  Holy Cross
287              Oklahoma State
288                      Albany
289                     Cornell
290               Southern Miss
291                    Columbia
292               Saint Peter's
293           Northern Illinois
294            Long Beach State
295                   Tennessee
296                        UTEP
297                     Oakland
298                Jacksonville
299            Western Michigan
300            SIU-Edwardsville
301                    Portland
302                         UAB
303               Jackson State
304                    Hartford
305                   Wisconsin
306              Illinois State
307                   San Diego
308              SE Missouri St
309                     Niagara
310                       Idaho
311              Incarnate Word
312                  Pittsburgh
313              Tennessee Tech
314                         TCU
315                  High Point
316            Eastern Michigan
317                UC Riverside
318              Boston College
319                Northwestern
320                Old Dominion
321            Loyola Marymount
322                       Texas
323                Kansas State
324                Texas A&M-CC
325             Cleveland State
326              Mt. St. Mary's
327                        Navy
328                   Manhattan
329                        NJIT
330                   UL Monroe
331                 Alabama A&M
332                     Stetson
333           Southern Illinois
334                   Dartmouth
335         Central Connecticut
336                   Merrimack
337                   Texas A&M
338                  California
339            Sacramento State
340               South Florida
341               Chicago State
342                     Wyoming
343               Alabama State
344          Florida Gulf Coast
345                      Marist
346                       Maine
347                   Fairfield
348                    Virginia
349                     Fordham
350      Maryland-Eastern Shore
351              Kennesaw State
352         Arkansas-Pine Bluff
Name: Name, dtype: object

In [232]:
df2[(df2['name']=='North Carolina')]

             name   PTS  FG_perc  _3p_perc  FT_perc  year
3  North Carolina  86.1    0.464     0.365    0.742  2019

In [281]:
#still working on this
def add_to_df (name1, num,df):
    maybe=df2[(df2['Name']==f'{name1}')]
    maybe2=newdf2[(newdf2['index']==num)]
    dict = {'first_team':list(maybe2['first_team'])[0],'second_team':list(maybe2['second_team'])[0],
            'winner':list(maybe2['winner'])[0],
            'point_difference':list(maybe2['point_difference'])[0],'result':list(maybe2['result'])[0],
            'name':list(maybe2['name'])[0],
            'team_rank':list(maybe2['team_rank'])[0],'win':list(maybe2['win'])[0],
            'higher_or_lower_seed':list(maybe2['higher_or_lower_seed'])[0],
            'index':list(maybe2['index'])[0],'year_x':list(maybe['year'])[0], 'Name': list(maybe['Name'])[0],
            'PTS':list(maybe['PTS'])[0],'year_y':list(maybe['year'])[0],
            'FG_perc':list(maybe['FG_perc'])[0],'_3p_perc':list(maybe['_3p_perc'])[0],
            'FT_perc':list(maybe['FT_perc'])[0],'year_y':list(maybe['year'])[0]}
    possibly2=df.append(dict, ignore_index=True)
    return possibly2

In [735]:
possibly2 = possibly2.sort_values(by ='index' )
possibly2

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index,year_x,Name,PTS,FG_perc,_3p_perc,FT_perc,year_y
0,1,16,1,15,1,Kentucky,1,1,1,0,2004,Kentucky,72.6,0.470,0.354,0.689,2004
1,1,16,1,15,1,Florida A&M,16,0,0,1,2004,Florida A&M,72.1,0.414,0.347,0.713,2004
2,8,9,9,1,2,Washington,8,0,1,2,2004,Washington,81.4,0.463,0.355,0.714,2004
113,8,9,9,1,2,Alabama-Birmingham,9,1,0,3,2004,UAB,74.6,0.443,0.330,0.654,2004
3,5,12,12,7,2,Providence,5,0,1,4,2004,Providence,71.5,0.453,0.368,0.717,2004
4,5,12,12,7,2,Pacific,12,1,0,5,2004,Pacific,69.1,0.469,0.357,0.738,2004
5,4,13,4,9,1,Kansas,4,1,1,6,2004,Kansas,75.0,0.462,0.332,0.704,2004
6,4,13,4,9,1,UIC,13,0,0,7,2004,UIC,70.0,0.456,0.393,0.634,2004
7,6,11,6,5,1,Boston College,6,1,1,8,2004,Boston College,68.8,0.454,0.319,0.679,2004
8,6,11,6,5,1,Utah,11,0,0,9,2004,Utah,65.1,0.474,0.395,0.718,2004
9,3,14,3,11,1,Georgia Tech,3,1,1,10,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004
10,3,14,3,11,1,Northern Iowa,14,0,0,11,2004,Northern Iowa,69.6,0.442,0.353,0.737,2004
11,7,10,10,3,2,Michigan State,7,0,1,12,2004,Michigan State,71.4,0.495,0.404,0.769,2004
12,7,10,10,3,2,Nevada,10,1,0,13,2004,Nevada,75.8,0.458,0.344,0.721,2004
13,2,15,2,13,1,Gonzaga,2,1,1,14,2004,Gonzaga,83.0,0.520,0.421,0.759,2004
14,2,15,2,13,1,Valparaiso,15,0,0,15,2004,Valparaiso,72.3,0.445,0.311,0.706,2004
15,1,9,9,8,2,Kentucky,1,0,1,16,2004,Kentucky,72.6,0.470,0.354,0.689,2004
114,1,9,9,8,2,Alabama-Birmingham,9,1,0,17,2004,UAB,74.6,0.443,0.330,0.654,2004
16,12,4,4,8,1,Pacific,12,0,0,18,2004,Pacific,69.1,0.469,0.357,0.738,2004
17,12,4,4,8,1,Kansas,4,1,1,19,2004,Kansas,75.0,0.462,0.332,0.704,2004
18,6,3,3,3,1,Boston College,6,0,0,20,2004,Boston College,68.8,0.454,0.319,0.679,2004
19,6,3,3,3,1,Georgia Tech,3,1,1,21,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004
20,10,2,10,8,2,Nevada,10,1,0,22,2004,Nevada,75.8,0.458,0.344,0.721,2004
21,10,2,10,8,2,Gonzaga,2,0,1,23,2004,Gonzaga,83.0,0.520,0.421,0.759,2004
115,9,4,4,5,1,Alabama-Birmingham,9,0,0,24,2004,UAB,74.6,0.443,0.330,0.654,2004
22,9,4,4,5,1,Kansas,4,1,1,25,2004,Kansas,75.0,0.462,0.332,0.704,2004
23,3,10,3,7,1,Georgia Tech,3,1,1,26,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004
24,3,10,3,7,1,Nevada,10,0,0,27,2004,Nevada,75.8,0.458,0.344,0.721,2004
25,4,3,3,1,1,Kansas,4,0,0,28,2004,Kansas,75.0,0.462,0.332,0.704,2004
26,4,3,3,1,1,Georgia Tech,3,1,1,29,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004
27,1,16,1,15,1,Duke,1,1,1,30,2004,Duke,79.5,0.471,0.373,0.740,2004
28,1,16,1,15,1,Alabama State,16,0,0,31,2004,Alabama State,61.4,0.422,0.334,0.657,2004
29,8,9,8,1,1,Seton Hall,8,1,1,32,2004,Seton Hall,71.9,0.459,0.353,0.714,2004
30,8,9,8,1,1,Arizona,9,0,0,33,2004,Arizona,87.6,0.485,0.386,0.784,2004
31,5,12,5,7,1,Illinois,5,1,1,34,2004,Illinois,73.2,0.469,0.341,0.699,2004
32,5,12,5,7,1,Murray State,12,0,0,35,2004,Murray State,81.1,0.498,0.338,0.711,2004
33,4,13,4,9,1,Cincinnati,4,1,1,36,2004,Cincinnati,76.9,0.457,0.385,0.668,2004
116,4,13,4,9,1,ETSU,13,0,0,37,2004,East Tennessee State,79.4,0.462,0.350,0.690,2004
117,6,11,6,5,1,UNC,6,1,1,38,2004,North Carolina,83.1,0.462,0.354,0.680,2004
34,6,11,6,5,1,Air Force,11,0,0,39,2004,Air Force,60.2,0.483,0.381,0.709,2004
35,3,14,3,11,1,Texas,3,1,1,40,2004,Texas,78.1,0.444,0.367,0.678,2004
36,3,14,3,11,1,Princeton,14,0,0,41,2004,Princeton,63.4,0.486,0.346,0.713,2004
37,7,10,7,3,1,Xavier,7,1,1,42,2004,Xavier,70.4,0.441,0.370,0.679,2004
38,7,10,7,3,1,Louisville,10,0,0,43,2004,Louisville,73.3,0.420,0.339,0.748,2004
39,2,15,2,13,1,Mississippi State,2,1,1,44,2004,Mississippi State,77.1,0.468,0.354,0.663,2004
40,2,15,2,13,1,Monmouth,15,0,0,45,2004,Monmouth,68.8,0.419,0.350,0.746,2004
41,1,8,1,7,1,Duke,1,1,1,46,2004,Duke,79.5,0.471,0.373,0.740,2004
42,1,8,1,7,1,Seton Hall,8,0,0,47,2004,Seton Hall,71.9,0.459,0.353,0.714,2004
43,5,4,5,1,2,Illinois,5,1,0,48,2004,Illinois,73.2,0.469,0.341,0.699,2004
44,5,4,5,1,2,Cincinnati,4,0,1,49,2004,Cincinnati,76.9,0.457,0.385,0.668,2004
118,6,3,3,3,1,UNC,6,0,0,50,2004,North Carolina,83.1,0.462,0.354,0.680,2004
45,6,3,3,3,1,Texas,3,1,1,51,2004,Texas,78.1,0.444,0.367,0.678,2004
46,7,2,7,5,2,Xavier,7,1,0,52,2004,Xavier,70.4,0.441,0.370,0.679,2004
47,7,2,7,5,2,Mississippi State,2,0,1,53,2004,Mississippi State,77.1,0.468,0.354,0.663,2004
48,1,5,1,4,1,Duke,1,1,1,54,2004,Duke,79.5,0.471,0.373,0.740,2004
49,1,5,1,4,1,Illinois,5,0,0,55,2004,Illinois,73.2,0.469,0.341,0.699,2004
50,3,7,7,4,2,Texas,3,0,1,56,2004,Texas,78.1,0.444,0.367,0.678,2004
51,3,7,7,4,2,Xavier,7,1,0,57,2004,Xavier,70.4,0.441,0.370,0.679,2004
52,1,7,1,6,1,Duke,1,1,1,58,2004,Duke,79.5,0.471,0.373,0.740,2004
53,1,7,1,6,1,Xavier,7,0,0,59,2004,Xavier,70.4,0.441,0.370,0.679,2004
119,1,16,1,15,1,St. Joseph's,1,1,1,60,2004,Saint Joseph's,77.8,0.479,0.407,0.703,2004
54,1,16,1,15,1,Liberty,16,0,0,61,2004,Liberty,69.4,0.428,0.308,0.675,2004
55,8,9,8,1,1,Texas Tech,8,1,1,62,2004,Texas Tech,73.4,0.464,0.339,0.738,2004
56,8,9,8,1,1,Charlotte,9,0,0,63,2004,Charlotte,79.3,0.450,0.343,0.645,2004
57,5,12,12,7,2,Florida,5,0,1,64,2004,Florida,77.1,0.483,0.377,0.753,2004
58,5,12,12,7,2,Manhattan,12,1,0,65,2004,Manhattan,74.3,0.442,0.368,0.760,2004
59,4,13,4,9,1,Wake Forest,4,1,1,66,2004,Wake Forest,83.8,0.472,0.383,0.713,2004
60,4,13,4,9,1,VCU,13,0,0,67,2004,VCU,70.8,0.474,0.386,0.604,2004
61,6,11,6,5,1,Wisconsin,6,1,1,68,2004,Wisconsin,68.6,0.446,0.331,0.716,2004
62,6,11,6,5,1,Richmond,11,0,0,69,2004,Richmond,64.6,0.411,0.309,0.725,2004
120,3,14,3,11,1,Pitt,3,1,1,70,2004,Pittsburgh,69.2,0.482,0.313,0.648,2004
63,3,14,3,11,1,UCF,14,0,0,71,2004,UCF,71.2,0.462,0.356,0.716,2004
64,7,10,7,3,1,Memphis,7,1,1,72,2004,Memphis,73.6,0.422,0.360,0.662,2004
65,7,10,7,3,1,South Carolina,10,0,0,73,2004,South Carolina,70.9,0.436,0.330,0.674,2004
66,2,15,2,13,1,Oklahoma State,2,1,1,74,2004,Oklahoma State,79.2,0.517,0.390,0.692,2004
67,2,15,2,13,1,Eastern Washington,15,0,0,75,2004,Eastern Washington,70.6,0.479,0.375,0.703,2004
121,1,8,1,7,1,St. Joseph's,1,1,1,76,2004,Saint Joseph's,77.8,0.479,0.407,0.703,2004
68,1,8,1,7,1,Texas Tech,8,0,0,77,2004,Texas Tech,73.4,0.464,0.339,0.738,2004
69,12,4,4,8,1,Manhattan,12,0,0,78,2004,Manhattan,74.3,0.442,0.368,0.760,2004
70,12,4,4,8,1,Wake Forest,4,1,1,79,2004,Wake Forest,83.8,0.472,0.383,0.713,2004
71,6,3,3,3,1,Wisconsin,6,0,0,80,2004,Wisconsin,68.6,0.446,0.331,0.716,2004
122,6,3,3,3,1,Pitt,3,1,1,81,2004,Pittsburgh,69.2,0.482,0.313,0.648,2004
72,7,2,2,5,1,Memphis,7,0,0,82,2004,Memphis,73.6,0.422,0.360,0.662,2004
73,7,2,2,5,1,Oklahoma State,2,1,1,83,2004,Oklahoma State,79.2,0.517,0.390,0.692,2004
123,1,4,1,3,1,St. Joseph's,1,1,1,84,2004,Saint Joseph's,77.8,0.479,0.407,0.703,2004
74,1,4,1,3,1,Wake Forest,4,0,0,85,2004,Wake Forest,83.8,0.472,0.383,0.713,2004
124,3,2,2,1,1,Pitt,3,0,0,86,2004,Pittsburgh,69.2,0.482,0.313,0.648,2004
75,3,2,2,1,1,Oklahoma State,2,1,1,87,2004,Oklahoma State,79.2,0.517,0.390,0.692,2004
125,1,2,2,1,2,St. Joseph's,1,0,1,88,2004,Saint Joseph's,77.8,0.479,0.407,0.703,2004
76,1,2,2,1,2,Oklahoma State,2,1,0,89,2004,Oklahoma State,79.2,0.517,0.390,0.692,2004
77,1,16,1,15,1,Stanford,1,1,1,90,2004,Stanford,73.9,0.484,0.366,0.752,2004
78,1,16,1,15,1,UTSA,16,0,0,91,2004,UTSA,73.6,0.435,0.367,0.699,2004
79,8,9,8,1,1,Alabama,8,1,1,92,2004,Alabama,72.2,0.453,0.383,0.699,2004
80,8,9,8,1,1,Southern Illinois,9,0,0,93,2004,Southern Illinois,71.3,0.445,0.329,0.688,2004
81,5,12,5,7,1,Syracuse,5,1,1,94,2004,Syracuse,72.9,0.463,0.312,0.636,2004
82,5,12,5,7,1,BYU,12,0,0,95,2004,BYU,73.3,0.487,0.348,0.725,2004
83,4,13,4,9,1,Maryland,4,1,1,96,2004,Maryland,76.8,0.441,0.333,0.620,2004
84,4,13,4,9,1,UTEP,13,0,0,97,2004,UTEP,77.3,0.476,0.387,0.749,2004
85,6,11,6,5,1,Vanderbilt,6,1,1,98,2004,Vanderbilt,73.8,0.449,0.361,0.713,2004
86,6,11,6,5,1,Western Michigan,11,0,0,99,2004,Western Michigan,79.2,0.463,0.380,0.720,2004
87,3,14,3,11,1,NC State,3,1,1,100,2004,NC State,73.3,0.452,0.343,0.798,2004
88,3,14,3,11,1,Louisiana,14,0,0,101,2004,Louisiana,77.9,0.469,0.377,0.690,2004
89,7,10,7,3,1,DePaul,7,1,1,102,2004,DePaul,70.9,0.470,0.363,0.704,2004
90,7,10,7,3,1,Dayton,10,0,0,103,2004,Dayton,68.0,0.452,0.327,0.670,2004
91,2,15,2,13,1,UConn,2,1,1,104,2004,UConn,79.1,0.481,0.400,0.616,2004
92,2,15,2,13,1,Vermont,15,0,0,105,2004,Vermont,66.4,0.426,0.328,0.679,2004
93,1,8,8,7,2,Stanford,1,0,1,106,2004,Stanford,73.9,0.484,0.366,0.752,2004
94,1,8,8,7,2,Alabama,8,1,0,107,2004,Alabama,72.2,0.453,0.383,0.699,2004
95,5,4,5,1,2,Syracuse,5,1,0,108,2004,Syracuse,72.9,0.463,0.312,0.636,2004
96,5,4,5,1,2,Maryland,4,0,1,109,2004,Maryland,76.8,0.441,0.333,0.620,2004
97,6,3,6,3,2,Vanderbilt,6,1,0,110,2004,Vanderbilt,73.8,0.449,0.361,0.713,2004
98,6,3,6,3,2,NC State,3,0,1,111,2004,NC State,73.3,0.452,0.343,0.798,2004
99,7,2,2,5,1,DePaul,7,0,0,112,2004,DePaul,70.9,0.470,0.363,0.704,2004
100,7,2,2,5,1,UConn,2,1,1,113,2004,UConn,79.1,0.481,0.400,0.616,2004
101,8,5,8,3,2,Alabama,8,1,0,114,2004,Alabama,72.2,0.453,0.383,0.699,2004
102,8,5,8,3,2,Syracuse,5,0,1,115,2004,Syracuse,72.9,0.463,0.312,0.636,2004
103,6,2,2,4,1,Vanderbilt,6,0,0,116,2004,Vanderbilt,73.8,0.449,0.361,0.713,2004
104,6,2,2,4,1,UConn,2,1,1,117,2004,UConn,79.1,0.481,0.400,0.616,2004
105,8,2,2,6,1,Alabama,8,0,0,118,2004,Alabama,72.2,0.453,0.383,0.699,2004
106,8,2,2,6,1,UConn,2,1,1,119,2004,UConn,79.1,0.481,0.400,0.616,2004
107,2,1,2,1,2,UConn,2,1,0,120,2004,UConn,79.1,0.481,0.400,0.616,2004
108,2,1,2,1,2,Duke,1,0,1,121,2004,Duke,79.5,0.471,0.373,0.740,2004
109,2,3,3,1,2,Oklahoma State,2,0,1,122,2004,Oklahoma State,79.2,0.517,0.390,0.692,2004
110,2,3,3,1,2,Georgia Tech,3,1,0,123,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004
111,2,3,2,1,1,UConn,2,1,1,124,2004,UConn,79.1,0.481,0.400,0.616,2004
112,2,3,2,1,1,Georgia Tech,3,0,0,125,2004,Georgia Tech,78.1,0.470,0.374,0.693,2004

In [734]:
for thing in the_values:
    print(thing)
    the_name=list(newdf2[(newdf2['index']==thing)]['name'])[0]
    ESPN_name=ESPN_sports_reference_dict[f"{the_name}"]
    possibly2=add_to_df (ESPN_name, thing,possibly2)

3
17
24
37
38
50
60
70
76
81
84
86
88

# Making dictionary to reference sports reference and ESPN

In [721]:
ESPN_sports_reference_dict = {}

In [723]:
ESPN_sports_reference_dict["Alabama-Birmingham"] = "UAB"

In [724]:
ESPN_sports_reference_dict["ETSU"] = "East Tennessee State"

In [725]:
ESPN_sports_reference_dict["UNC"] = "North Carolina"

In [726]:
ESPN_sports_reference_dict["St. Joseph's"] = "Saint Joseph's"

In [727]:
ESPN_sports_reference_dict["Pitt"] = "Pittsburgh"

In [ ]:
ESPN_sports_reference_dict["UC-Irvine"] = "UC Irvine"

In [ ]:
ESPN_sports_reference_dict["Cal State Fullerton"] = "CSU Fullerton"

In [ ]:
ESPN_sports_reference_dict["College of Charleston"] = "Charleston"

In [ ]:
ESPN_sports_reference_dict["Miami (FL)"] = "Miami"

In [ ]:
ESPN_sports_reference_dict["Loyola (IL)"] = "Loyola Chicago"

# Putting stuff into MySQl so I can use the LIKE operator and merge dataframes

In [193]:
import mysql.connector
import stuff
cnx = mysql.connector.connect(
    host = stuff.host,
    user = stuff.user,
    passwd = stuff.password)

In [194]:
cursor = cnx.cursor()

In [140]:
#insert_stm = """CREATE DATABASE march_madness;"""
#cursor.execute(insert_stm)
#cnx.commit()

In [195]:
cnx.database = 'march_madness'

In [142]:
df1.head()

                     name   PTS  FG_perc  _3p_perc  FT_perc
0                     VMI  87.9    0.449     0.359    0.709
1                 Oakland  85.6    0.494     0.379    0.720
2              Washington  83.5    0.471     0.371    0.667
3  Long Island University  82.6    0.466     0.366    0.645
4                  Kansas  82.4    0.514     0.387    0.681

In [172]:
create_table = """
CREATE TABLE ESPN
(name VARCHAR(225),
PTS FLOAT,
FG_perc FLOAT,
_3p_perc FLOAT,
FT_perc FLOAT);
"""

In [173]:
cursor.execute(create_table)

In [160]:
all_data = []
i=0
for thing in (list(df1['name'])):
    new_tuple = ((list(df1['name']))[i], (list(df1['PTS']))[i], (list(df1['FG_perc']))[i], (list(df1['_3p_perc']))[i],
                 (list(df1['FT_perc']))[i])
    all_data.append(new_tuple)
    i+=1

In [174]:

insert_stm = """INSERT INTO ESPN (name, PTS, FG_perc, _3p_perc, FT_perc) 
VALUES (%s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [202]:
create_table = """
CREATE TABLE sports_reference
(first_team INT,
second_team INT,
winner INT,
point_difference INT,
result INT,
name VARCHAR(225),
team_rank INT,
win INT,
relative_seed INT,
index_made INT);
"""

In [203]:
cursor.execute(create_table)

In [204]:
newdf2.head(1)

,first_team,second_team,winner,point_difference,result,name,team_rank,win,higher_or_lower_seed,index
0,1,16,1,15,1,Ohio State,1,1,1,0

In [208]:
all_data = []
i=0
for thing in (list(newdf2['name'])):
    new_tuple = ((list(newdf2['first_team']))[i], (list(newdf2['second_team']))[i], (list(newdf2['winner']))[i],
                 (list(newdf2['point_difference']))[i], (list(newdf2['result']))[i], (list(newdf2['name']))[i], (list(newdf2['team_rank']))[i],
                 (list(newdf2['win']))[i], (list(newdf2['higher_or_lower_seed']))[i], (list(newdf2['index']))[i]
                )
    all_data.append(new_tuple)
    i+=1

In [209]:
all_data[0]

(1, 16, 1, 15, 1, 'Ohio State', 1, 1, 1, 0)

In [210]:
insert_stm = """INSERT INTO sports_reference (first_team,
second_team,
winner,
point_difference,
result,
name,
team_rank,
win,
relative_seed,
index_made) 
VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""
cursor.executemany(insert_stm, all_data)
cnx.commit()

In [211]:
list(df1['name'])

  name   PTS  FG_perc  _3p_perc  FT_perc
0  VMI  87.9    0.449     0.359    0.709

In [212]:
df1_sorted = df1.sort_values(by ='name' )

In [216]:
df1_sorted[df1_sorted(['name']='ohio')]

SyntaxError: keyword can't be an expression (<ipython-input-216-a288dbd8a224>, line 1)

# testing stuff

In [272]:
data = {'Name':['Tom', 'nick', 'krish', 'jack'], 'Age':[20, 21, 19, 18], 'index_made':[0,1,2,3]}

In [274]:
data1 = pd.DataFrame(data)

In [275]:
data1

    Name  Age  index_made
0    Tom   20           0
1   nick   21           1
2  krish   19           2
3   jack   18           3

In [285]:
dat = {'Name':['Tomas', 'nickolas', 'krishas', 'jack'], 'p3':[30,40,50,60], 'ft':[8,7,3,2]}

In [286]:
data2 = pd.DataFrame(dat)

In [287]:
data2

       Name  p3  ft
0     Tomas  30   8
1  nickolas  40   7
2   krishas  50   3
3      jack  60   2

In [288]:
ugh=pd.merge(data1,data2,how='inner',on='Name')

In [289]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2

In [292]:
maybe=data2[(data2['Name']=='Tomas')]
maybe

    Name  p3  ft
0  Tomas  30   8

In [293]:
maybe2=data1[(data1['Name']=='Tom')]
maybe2

  Name  Age  index_made
0  Tom   20           0

In [300]:
dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}

In [305]:
ugh=ugh.append(dict, ignore_index=True)

In [306]:
ugh

   Name  Age  index_made  p3  ft
0  jack   18           3  60   2
1   Tom   20           0  30   8

In [299]:
list(maybe2['Name'])[0]

'Tom'

In [ ]:
def add_to_df (name1, name2):
    maybe=data2[(data2['Name']==f'{name1}')]
    maybe2=data1[(data1['Name']==f'{name2}')]
    dict = {'Name':list(maybe2['Name'])[0],'Age':list(maybe2['Age'])[0],'index_made':list(maybe2['index_made'])[0],
        'p3':list(maybe['p3'])[0],'ft':list(maybe['ft'])[0]}
    ugh=ugh.append(dict, ignore_index=True)